

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= webpackConfig.name %></title>

    <link rel="stylesheet" type="text/css" href="./assets/styles/color.css" />
    <link rel="stylesheet" href="./assets/styles/main.css" />
    <link rel="stylesheet" href="./assets/styles/icomoon.css" />
    <link rel="stylesheet" href="./assets/styles/transitions.css" />
    <link rel="stylesheet" href="./assets/styles/color.css" />
    <link rel="stylesheet" href="./assets/styles/responsive.css" />
    <link rel="stylesheet" href="./assets/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/styles/font-awesome.min.css" />
    <link rel="stylesheet" href="./assets/styles/dashboard.css" />
    <link rel="stylesheet" href="./assets/styles/dashboard-responsive.css" />
    <link rel="stylesheet" href="./assets/styles/themify-icons.css" />
    <script src="https://unpkg.com/http-vue-loader"></script>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <script
      type="text/javascript"
      src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
    ></script>
    <script
      type="text/javascript"
      src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
    ></script>
    <script
      type="text/javascript"
      src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
    ></script>
    <script
      type="text/javascript"
      src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
    ></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
