
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <section class="tg-sectionspace tg-haslayout tg-content">
      <div class="container">
        <div class="tg-aboutus">
          <div class="row">
            <div class="col-lg-6">
              <div class="tg-textshortcode">
                <div class="tg-titleshortcode">
                  <h2>
                    <span>Welcome!</span>Know more about us
                  </h2>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="tg-btnbox">
                  <a class="tg-btn" href="#0">Contact Us</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tg-imgshortcode tg-multiimg">
                <figure>
                  <div class="tg-imgholder">
                    <img src="./../assets/images/img-02.jpg" alt="image" />
                  </div>
                </figure>
                <figure class="ipad-none">
                  <div class="tg-imgholder">
                    <img src="./../assets/images/img-03.jpg" alt="image" />
                  </div>
                </figure>
                <figure class="ipad-none">
                  <div class="tg-imgholder">
                    <img src="./../assets/images/img-04.jpg" alt="image" />
                  </div>
                </figure>
                <figure class="ipad-none">
                  <div class="tg-imgholder">
                    <img src="./../assets/images/img-05.jpg" alt="image" />
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tg-bglight tg-haslayout">
      <div class="container-fluid">
        <div class="row">
          <div class="tg-qualityservices">
            <div class="row">
              <div class="col-lg-6">
                <div class="tg-imgshortcode">
                  <figure class="ipad-none">
                    <img src="./../assets/images/img-01.jpg" alt="image description" />
                    <figcaption>
                      <a class="tg-btnplayvideo" href="#0">
                        <i class="icon-play3"></i>
                      </a>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tg-textshortcode">
                  <div class="tg-titleshortcode">
                    <h2>Serving Quality Services</h2>
                  </div>
                  <div class="tg-description">
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non prident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tg-sectionspace tg-haslayout pt-5">
      <div class="container">
        <div class="row">
          <div class="offset-lg-2 col-lg-8">
            <div class="tg-sectionhead tg-sectionheadvtwo">
              <div class="tg-title">
                <h2>Why We Are Best</h2>
              </div>
              <div class="tg-description">
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ea commodo consequat.</p>
              </div>
            </div>
          </div>
          <div class="tg-features">
            <li>
              <div class="tg-feature">
                <div class="tg-featureicon">
                  <i class="icon-eye"></i>
                </div>
                <div class="tg-title">
                  <h3>
                    <a href="#0">Eye on Quality</a>
                  </h3>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tg-feature">
                <div class="tg-featureicon">
                  <i class="icon-lock"></i>
                </div>
                <div class="tg-title">
                  <h3>
                    <a href="#0">Protection Guaranteed</a>
                  </h3>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tg-feature">
                <div class="tg-featureicon">
                  <i class="icon-bubble"></i>
                </div>
                <div class="tg-title">
                  <h3>
                    <a href="#0">Active Support</a>
                  </h3>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tg-feature">
                <div class="tg-featureicon">
                  <i class="icon-laptop"></i>
                </div>
                <div class="tg-title">
                  <h3>
                    <a href="#0">Prompt Complaint Response</a>
                  </h3>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tg-feature">
                <div class="tg-featureicon">
                  <i class="icon-spell-check"></i>
                </div>
                <div class="tg-title">
                  <h3>
                    <a href="#0">Verified Ads</a>
                  </h3>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tg-feature">
                <div class="tg-featureicon">
                  <i class="icon-leaf"></i>
                </div>
                <div class="tg-title">
                  <h3>
                    <a href="#0">Secure Payment Gateway</a>
                  </h3>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

