
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <div class="container">
      <div class="row">
        <div id="tg-twocolumns" class="tg-twocolumns cus-pd">
          <div class="col-lg-12">
            <div id="tg-content" class="tg-content">
              <div class="tg-post tg-detail tg-postdetail">
                <div class="tg-posttitle">
                  <h1>All I Need To Know I Learned In Kindergarten</h1>
                </div>
                <ul class="tg-postmetadata">
                  <li>
                    <time datetime="2011-01-12">June 27, 2017</time>
                  </li>
                  <li>
                    By:
                    <a href="#0">Lurlene Cashman</a>
                  </li>
                  <li>
                    <i class="icon-bubble"></i>
                    <a href="#0">15642</a>
                  </li>
                </ul>
                <div class="tg-share clearfix">
                  <strong>share:</strong>
                  <ul class="tg-socialicons">
                    <li class="tg-facebook">
                      <a href="#0">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="tg-twitter">
                      <a href="#0">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="tg-linkedin">
                      <a href="#0">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="tg-googleplus">
                      <a href="#0">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <figure>
                  <img src="./../assets/images/post/img-19.jpg" alt="image" />
                </figure>
                <ul class="tg-postcategories">
                  <li>
                    <a href="#0">Lifestyle</a>
                  </li>
                  <li>
                    <a href="#0">Entertainment</a>
                  </li>
                </ul>
                <div class="tg-description">
                  <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore elore lokate magna aliqua enim adminim sitae veniam, quis nostrud exercitation ullamcoaris nisiutia aliquip ex ea commodo consequat aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sedutana perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem eaque apsae quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                  <blockquote>
                    <q>Adipisicing sed do eiusmod tempor incididunt ut labore etaem dolore magna aliqua enim aliquip caquat.</q>
                    <span>
                      By:
                      <a href="#0">Arnoldo Charpentier</a>
                    </span>
                  </blockquote>
                  <p>Elit sed do eiusmod tempor incididunt ut labore elore lokate magna aliqua enim adminim sitae veniam, quis nostrud exercitation ullamcoaris nisiutia aliquip ex ea commodo consequat aute irure dolor reprehenderit in voluptate velitita esse cillum dolore eu fugiat nulla pariatur enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni doloresie eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet rolaem consectetur.</p>
                </div>
              </div>
              <div id="tg-comments" class="tg-comments">
                <h2>03 Comments</h2>
                <ul>
                  <li>
                    <div class="tg-author">
                      <figure>
                        <a href="#0">
                          <img src="./../assets/images/post/img-04.jpg" alt="image" />
                        </a>
                      </figure>
                      <div class="tg-authorcontent">
                        <div class="tg-authorhead">
                          <div class="tg-boxleft">
                            <h3>
                              <a href="#0">Lurlene Cashman</a>
                            </h3>
                            <span>Author Since: June 27, 2017</span>
                          </div>
                          <div class="tg-boxright">
                            <a class="tg-btnreply" href="#0">
                              <i class="fa fa-mail-reply"></i>
                            </a>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>Incididunt ut labore elore lokate magna aliqua enim adminim sitae veniam quis nostrud acitation ullamcoaris nisiutia aliquip ex ea commodo consequat aute irure dolor reprehenderit inoluptate velitita esse cillum dolore eu fugiat nulla pariatur enim.</p>
                        </div>
                      </div>
                    </div>
                    <ul class="tg-child">
                      <li>
                        <div class="tg-author">
                          <figure>
                            <a href="#0">
                              <img src="./../assets/images/post/img-09.jpg" alt="image" />
                            </a>
                          </figure>
                          <div class="tg-authorcontent">
                            <div class="tg-authorhead">
                              <div class="tg-boxleft">
                                <h3>
                                  <a href="#0">Lurlene Cashman</a>
                                </h3>
                                <span>Author Since: June 27, 2017</span>
                              </div>
                              <div class="tg-boxright">
                                <a class="tg-btnreply" href="#0">
                                  <i class="fa fa-mail-reply"></i>
                                </a>
                              </div>
                            </div>
                            <div class="tg-description">
                              <p>Incididunt ut labore elore lokate magna aliqua enim adminim sitae veniam quis nostrud acitation ullamcoaris nisiutia aliquip ex ea commodo consequat aute irure dolor reprehenderit inoluptate velitita esse cillum dolore eu fugiat nulla pariatur enim.</p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="tg-replaybox">
                <h2>Leave Your Comment</h2>
                <form class="tg-formtheme tg-formreply">
                  <fieldset>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group tg-inputwithicon">
                          <i class="icon-user"></i>
                          <input type="text" name="name" class="form-control" placeholder="Name" />
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group tg-inputwithicon">
                          <i class="icon-envelope"></i>
                          <input type="text" name="name" class="form-control" placeholder="Email" />
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group tg-inputwithicon">
                          <i class="icon-bullhorn"></i>
                          <input type="text" name="name" class="form-control" placeholder="Subject" />
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group tg-inputwithicon">
                          <i class="icon-bubble"></i>
                          <textarea class="form-control" placeholder="Comment"></textarea>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button class="tg-btn" button="button">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>