
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <div class="container">
      <div class="row">
        <div id="tg-twocolumns" class="tg-twocolumns cus-pd">
          <div class="col-lg-12">
            <div id="tg-content" class="tg-content">
              <div class="tg-sectionhead">
                <div class="tg-title">
                  <h2>Latest Blog</h2>
                </div>
                <div class="tg-description">
                  <p>Stay Updated With Blog</p>
                </div>
              </div>
              <div class="row">
                <div class="tg-posts tg-postsgrid">
                  <div
                    class="col-xs-6 col-sm-12 col-md-6 col-lg-4 tg-verticaltop"
                  >
                    <div class="tg-post">
                      <figure>
                        <router-link exact :to="{ path: '/blog/1' }">
                          <img
                            src="./../assets/images/post/img-04.jpg"
                            alt="image"
                          />
                        </router-link>
                      </figure>
                      <div class="tg-postcontent">
                        <ul class="tg-postcategories">
                          <li>
                            <a href="#0">Lifestyle</a>
                          </li>
                          <li>
                            <a href="#0">Entertainment</a>
                          </li>
                        </ul>
                        <div class="tg-posttitle">
                          <h3>
                            <router-link exact :to="{ path: '/blog/1' }">
                              All I Need To Know I Learned In Kindergarten
                            </router-link>
                          </h3>
                        </div>
                        <ul class="tg-postmetadata">
                          <li>
                            By:
                            <a href="#0">Terisa Wallick</a>
                          </li>
                          <li>
                            <i class="icon-bubble"></i>
                            <a href="#0">15642</a>
                          </li>
                        </ul>
                        <div class="tg-description">
                          <p>
                            Conseetur adipisicing eiusmeporie incididunt ut
                            labore et dolore mana aliquaaenim nostrud...
                            <router-link exact :to="{ path: '/blog/1' }">
                              read more
                            </router-link>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-xs-6 col-sm-12 col-md-6 col-lg-4 tg-verticaltop"
                  >
                    <div class="tg-post">
                      <figure>
                        <router-link exact :to="{ path: '/blog/2' }">
                          <img
                            src="./../assets/images/post/img-05.jpg"
                            alt="image"
                          />
                        </router-link>
                      </figure>
                      <div class="tg-postcontent">
                        <ul class="tg-postcategories">
                          <li>
                            <a href="#0">Fashion</a>
                          </li>
                          <li>
                            <a href="#0">Trade</a>
                          </li>
                        </ul>
                        <div class="tg-posttitle">
                          <h3>
                            <a href="#0">Applause For A Great Teacher</a>
                          </h3>
                        </div>
                        <ul class="tg-postmetadata">
                          <li>
                            By:
                            <a href="#0">Terisa Wallick</a>
                          </li>
                          <li>
                            <i class="icon-bubble"></i>
                            <a href="#0">15642</a>
                          </li>
                        </ul>
                        <div class="tg-description">
                          <p>
                            Conseetur adipisicing eiusmeporie incididunt ut
                            labore et dolore mana aliquaaenim nostrud...
                            <a href="#0">read more</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-xs-6 col-sm-12 col-md-6 col-lg-4 tg-verticaltop"
                  >
                    <div class="tg-post">
                      <figure>
                        <a href="#0">
                          <img
                            src="./../assets/images/post/img-06.jpg"
                            alt="image"
                          />
                        </a>
                      </figure>
                      <div class="tg-postcontent">
                        <ul class="tg-postcategories">
                          <li>
                            <a href="#0">Trade</a>
                          </li>
                          <li>
                            <a href="#0">Business</a>
                          </li>
                        </ul>
                        <div class="tg-posttitle">
                          <h3>
                            <a href="#0">Books Are Food For The Brain</a>
                          </h3>
                        </div>
                        <ul class="tg-postmetadata">
                          <li>
                            By:
                            <a href="#0">Terisa Wallick</a>
                          </li>
                          <li>
                            <i class="icon-bubble"></i>
                            <a href="#0">15642</a>
                          </li>
                        </ul>
                        <div class="tg-description">
                          <p>
                            Conseetur adipisicing eiusmeporie incididunt ut
                            labore et dolore mana aliquaaenim nostrud...
                            <a href="#0">read more</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-xs-6 col-sm-12 col-md-6 col-lg-4 tg-verticaltop"
                  >
                    <div class="tg-post">
                      <figure>
                        <a href="#0">
                          <img
                            src="./../assets/images/post/img-07.jpg"
                            alt="image"
                          />
                        </a>
                      </figure>
                      <div class="tg-postcontent">
                        <ul class="tg-postcategories">
                          <li>
                            <a href="#0">Lifestyle</a>
                          </li>
                          <li>
                            <a href="#0">Entertainment</a>
                          </li>
                        </ul>
                        <div class="tg-posttitle">
                          <h3>
                            <a href="#0">The Loving Yellow Bird</a>
                          </h3>
                        </div>
                        <ul class="tg-postmetadata">
                          <li>
                            By:
                            <a href="#0">Terisa Wallick</a>
                          </li>
                          <li>
                            <i class="icon-bubble"></i>
                            <a href="#0">15642</a>
                          </li>
                        </ul>
                        <div class="tg-description">
                          <p>
                            Conseetur adipisicing eiusmeporie incididunt ut
                            labore et dolore mana aliquaaenim nostrud...
                            <a href="#0">read more</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-xs-6 col-sm-12 col-md-6 col-lg-4 tg-verticaltop"
                  >
                    <div class="tg-post">
                      <figure>
                        <a href="#0">
                          <img
                            src="./../assets/images/post/img-08.jpg"
                            alt="image"
                          />
                        </a>
                      </figure>
                      <div class="tg-postcontent">
                        <ul class="tg-postcategories">
                          <li>
                            <a href="#0">Fashion</a>
                          </li>
                          <li>
                            <a href="#0">Trade</a>
                          </li>
                        </ul>
                        <div class="tg-posttitle">
                          <h3>
                            <a href="#0">3D Phone Launching in 2017</a>
                          </h3>
                        </div>
                        <ul class="tg-postmetadata">
                          <li>
                            By:
                            <a href="#0">Terisa Wallick</a>
                          </li>
                          <li>
                            <i class="icon-bubble"></i>
                            <a href="#0">15642</a>
                          </li>
                        </ul>
                        <div class="tg-description">
                          <p>
                            Conseetur adipisicing eiusmeporie incididunt ut
                            labore et dolore mana aliquaaenim nostrud...
                            <a href="#0">read more</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-xs-6 col-sm-12 col-md-6 col-lg-4 tg-verticaltop"
                  >
                    <div class="tg-post">
                      <figure>
                        <a href="#0">
                          <img
                            src="./../assets/images/post/img-09.jpg"
                            alt="image"
                          />
                        </a>
                      </figure>
                      <div class="tg-postcontent">
                        <ul class="tg-postcategories">
                          <li>
                            <a href="#0">Trade</a>
                          </li>
                          <li>
                            <a href="#0">Business</a>
                          </li>
                        </ul>
                        <div class="tg-posttitle">
                          <h3>
                            <a href="#0">Big Eyes Cute Stuff Toys</a>
                          </h3>
                        </div>
                        <ul class="tg-postmetadata">
                          <li>
                            By:
                            <a href="#0">Terisa Wallick</a>
                          </li>
                          <li>
                            <i class="icon-bubble"></i>
                            <a href="#0">15642</a>
                          </li>
                        </ul>
                        <div class="tg-description">
                          <p>
                            Conseetur adipisicing eiusmeporie incididunt ut
                            labore et dolore mana aliquaaenim nostrud...
                            <a href="#0">read more</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
