
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <div class="container">
      <div id="tg-content" class="tg-content clearfix">
        <div class="tg-contactarea">
          <div class="row">
            <div class="offset-lg-3 col-lg-6">
              <div class="tg-sectionhead clearfix">
                <div class="tg-title">
                  <h2>Get In Touch With Us</h2>
                </div>
                <div class="tg-description">
                  <p>Feel Free To Say Hello</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      type="text"
                      v-model="user.first_name"
                      id="first_name"
                      name="first_name"
                      class="form-control"
                      placeholder="First Name"
                      :class="{ 'is-invalid': submitted && $v.user.first_name.$error }"
                    />
                    <div
                      v-if="submitted && !$v.user.first_name.required"
                      class="invalid-feedback"
                    >First Name is required</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      type="text"
                      v-model="user.last_name"
                      id="last_name"
                      name="last_name"
                      class="form-control"
                      placeholder="Last Name"
                      :class="{ 'is-invalid': submitted && $v.user.last_name.$error }"
                    />
                    <div
                      v-if="submitted && !$v.user.last_name.required"
                      class="invalid-feedback"
                    >Last Name is required</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      type="email"
                      v-model="user.email_id"
                      id="email"
                      name="email"
                      placeholder="Email"
                      class="form-controlS"
                      :class="{ 'is-invalid': submitted && $v.user.email_id.$error }"
                    />
                    <div v-if="submitted && $v.user.email_id.$error" class="invalid-feedback">
                      <span v-if="!$v.user.email_id.required">Email is required</span>
                      <span v-if="!$v.user.email_id.email">Email is invalid</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="subject"
                      v-model="user.subject"
                      class="form-control"
                      placeholder="Subject (optional)"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="comment"
                      v-model="user.comment"
                      placeholder="Comment"
                    ></textarea>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <button
                    class="tg-btn btn-block"
                    type="button"
                    @click.prevent="onSubmit(user)"
                  >Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapState } from "vuex";
import { CONTACT } from "@/store/actions.type";
import VuePhoneNumberInput from "vue-phone-number-input";
import "vue-phone-number-input/dist/vue-phone-number-input.css";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  name: "Contact",
  data() {
    return {
      user: {
        first_name: "",
        last_name: "",
        email: "",
        subject: "",
        comment: ""
      },
      submitted: false
    };
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  },
  validations: {
    user: {
      first_name: { required },
      last_name: { required },
      email_id: { required, email }
    }
  },
  methods: {
    onSubmit(user) {
      const { first_name, last_name, email_id, subject, comment } = user;
      this.submitted = true;
      // stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.hasErrorActive = true;
        return;
      }
      //submit form to backend
      this.$store
        .dispatch(CONTACT, {
          first_name,
          last_name,
          email_id,
          subject,
          comment
        })
        .then(response => {
          if (response.success) {
            this.$toast.success({
              message: "Submitted Successfully",
              position: "top right"
            });
            setTimeout(() => {
              this.$router.push("/");
            }, 1000);
          } else {
            this.$toast.error({
              message: "",
              position: "top right"
            });
          }
        });
    }
  }
};
</script>
