
<template>
  <div class="ps-posted-ads ps-profile-setting">
    <div class="ps-posted-ads__heading">
      <h5>Profile Settings</h5>
    </div>
    <div class="ps-profile-setting__content">
      <form class="ps-profile-form">
        <div class="ps-profile--row">
          <div class="form-group">
            <input
              type="text"
              v-model="user.first_name"
              name="first_name"
              class="form-control"
              required
              placeholder="First Name"
              :class="{
                'is-invalid': submitted && $v.user.first_name.$error
              }"
            />
            <div v-if="submitted && !$v.user.first_name.error" class="invalid-feedback">
              <!-- <span v-if="!$v.user.first_name.required">First Name is required</span> -->
              <span v-if="!$v.user.first_name.alpha">First name is invalid.</span>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              v-model="user.last_name"
              name="last_name"
              class="form-control"
              required
              placeholder="Last Name*"
              :class="{
                'is-invalid': submitted && $v.user.last_name.$error
              }"
            />
            <div v-if="submitted && !$v.user.last_name.error" class="invalid-feedback">
              <!-- <span v-if="!$v.user.last_name.required">Last Name is required</span> -->
              <span v-if="!$v.user.last_name.alpha">Last name is invalid.</span>
            </div>
          </div>
          <div class="form-group">
            <label>
              <select
                class="form-control"
                v-model="user.gender"
                name="gender"
                id="gender"
                :class="{
                  'is-invalid': submitted && $v.user.gender.$error
                }"
              >
                <option value disabled selected hidden>Select Gender:</option>
                <option v-for="gender in selectgender" v-bind:key="gender">
                  {{
                  gender
                  }}
                </option>
              </select>
            </label>
            <div v-if="submitted && !$v.user.gender.error" class="invalid-feedback">
              <!-- <span v-if="!$v.user.gender.required">gender is required*</span> -->
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              v-model="user.user_name"
              name="user_name"
              class="form-control"
              required
              placeholder="Username*"
              :class="{
                'is-invalid': submitted && $v.user.user_name.$error
              }"
            />
            <div v-if="submitted && !$v.user.user_name.error" class="invalid-feedback">
              <!-- <span v-if="!$v.user.user_name.required">User Name is required</span> -->
            </div>
          </div>
          <div class="form-group">
            <VuePhoneNumberInput v-model="user.phone" :error="hasErrorActive" maxlength="15" />
            <span v-if="submitted && $v.user.phone.$error" class="invalid-feedbacks">
              <!-- <span
                v-if="submitted && !$v.user.phone.required"
                class="invalid-feedback"
              >Phone Number is required</span>-->
              <span
                v-if="submitted && !$v.user.phone.maxLength"
                class="invalid-feedbacks"
              >Minimum length is 15</span>
            </span>
          </div>
          <div class="form-group">
            <input
              type="email"
              v-model="user.email"
              id="email_id"
              name="email_id"
              class="form-controlS"
              placeholder="Email"
              disabled
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              v-model="user.skype_id"
              id="skype_id"
              name="skype_id"
              class="form-control"
              placeholder="Skype ID"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              v-model="user.whatsapp_no"
              id="whatsapp_no"
              name="whatsapp_no"
              class="form-control"
              placeholder="Whatsapp"
              :class="{
                'is-invalid': submitted && $v.user.whatsapp_no.$error
              }"
            />
            <div v-if="submitted && !$v.user.whatsapp_no.error" class="invalid-feedback">
              <!-- <span v-if="!$v.user.whatsapp_no.required">Whatsapp number is required</span> -->
            </div>
          </div>
        </div>
      </form>
      <div class="ps-profile-setting__upload">
        <h5>Profile Settings</h5>
        <div class="ps-profile-setting__uploadarea">
          <label for="filepf">
            <input
              class="btn ps-btn"
              type="file"
              ref="file"
              id="file"
              name="file"
              @change="handleFileUpload($event)"
              multiple
            />
          </label>
          <!-- <div>
            <vue-dropzone
              ref="dropzone"
              id="drop1"
              :options="dropOptions"
              @vdropzone-complete="afterComplete"
            ></vue-dropzone>
          </div>-->
          <!-- <button @click="removeAllFiles">Remove All Files</button> -->
          <rect height="60px" width="100%" rx="6px" stroke-width="2" stroke-dasharray="12 12" />
        </div>
        <form class="ps-profile-setting__imgs ps-x-axis mCustomScrollbar">
          <!-- <input id="radio1" type="radio" name="radio" />
          <label for="radio1">
            <span>
              <img src="./../assets/images/profile-setting/img-01.jpg" alt="Image" />
              <a class="ps-trash" href="#0">
                <span>
                  <i class="ti-trash"></i>
                </span>
              </a>
              <span class="ps-tick">
                <span>
                  <i class="fas fa-check"></i>
                </span>
              </span>
            </span>
          </label>-->
        </form>
      </div>
      <div class="ps-profile-setting__save">
        <button v-on:click="onUpdateSubmit(user)" class="btn ps-btn" type="button">Save Changes</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { UPDATEPROFILE } from "@/store/actions.type";
import VuePhoneNumberInput from "vue-phone-number-input";
import "vue-phone-number-input/dist/vue-phone-number-input.css";
import vueDropzone from "vue2-dropzone";
import JwtService from "@/common/jwt.service";
import { required, alpha, email, maxLength } from "vuelidate/lib/validators";
export default {
  name: "dashboardProfileSetting",
  data() {
    return {
      user: {
        first_name: "",
        last_name: "",
        gender: "",
        user_name: "",
        phone: "",
        email_id: "",
        skype_id: "",
        whatsapp_no: "",
        media: ""
      },
      dropOptions: {
        url: "https://httpbin.org/post",
        maxFilesize: 5, // MB
        maxFiles: 4,
        chunking: true,
        chunkSize: 500, // Bytes
        thumbnailWidth: 150, // px
        thumbnailHeight: 150,
        addRemoveLinks: true
      },
      submitted: false,
      terms: false,
      hasErrorActive: false,

      components: {
        vueDropzone
      },

      computed: {
        ...mapState({
          errors: state => state.auth.errors,
          success: state => state.auth.success
        })
      },

      selectgender: ["Male", "Female", "Other"]
    };
  },
  components: {
    VuePhoneNumberInput,
    vueDropzone
  },

  validations: {
    user: {
      first_name: { alpha },
      last_name: { alpha },
      gender: { required },
      user_name: { alpha },
      phone: { maxLength: maxLength(15) },
      email_id: { required, email },
      skype_id: {},
      whatsapp_no: {}
    }
  },
  mounted() {
    this.user = JSON.parse(JwtService.getUser());
  },
  methods: {
    afterComplete(file) {
      this.user.media = file;
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    onUpdateSubmit(user) {
      this.submitted = true;
      let formData = new FormData();

      Object.entries(user).forEach((key, index) => {
        formData.append([key[0]], key[1]);
      });
      formData.append("Media", this.file);
      // stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.hasErrorActive = true;
        return;
      }
      this.hasErrorActive = false;

      //submit form to backend
      this.$store.dispatch(UPDATEPROFILE, formData);
    }
  }
};
</script>
