
<template>
  <div class="ps-posted-ads">
    <div class="ps-posted-ads__heading">
      <h5>My Posted Ads</h5>
      <label class="ps-sort">
        <select class="form-control">
          <option selected hidden>Show:</option>
          <option>All</option>
          <option>Half</option>
        </select>
      </label>
      <button class="btn ps-btn">
        <router-link
          active-class="active"
          :to="{ path: '/dashboard/dashboardPostAd' }"
          >Post Ad</router-link
        >
      </button>
    </div>
    <div v-if="myAds.length">
      <div class="ps-items-heading">
        <h6>Title</h6>
        <h6>Status</h6>
        <h6>Actions</h6>
      </div>
      <div>
        <ul>
          <li v-for="item in myAds" :key="item._id">
            <div>
              <div class="ps-posted-ads__title">
                <h6>{{ item.title }}</h6>
                <div>
                  <figure>
                    <img src="images/insights/icon/img-01.jpg" alt="Images" />
                  </figure>
                  <div class="ps-description">
                    <h5>{{ item.price }}</h5>
                    <h6>{{ item.title }}</h6>
                  </div>
                </div>
              </div>
              <div class="ps-posted-ads__status">
                <h6>Status</h6>
                <button class="btn ps-btn ps-featured">
                  {{ item.is_featured }}
                </button>
              </div>
              <div class="ps-posted-ads__actions">
                <h6>Actions</h6>
                <span>
                  <a href="#0" class="ps-edit">
                    <i class="ti-pencil"></i> Edit
                  </a>
                  <span>/</span>
                  <a href="#0" class="ps-delete">
                    <i class="ti-trash" @click="confirmDelete(u)"></i> Delete
                  </a>
                </span>
              </div>
            </div>
          </li>
        </ul>
        <div class="ps-page">
          <paginate
            :page-count="20"
            :page-range="3"
            :margin-pages="2"
            :click-handler="clickCallback"
            :prev-text="'Prev'"
            :next-text="'Next'"
            :container-class="'pagination'"
            :page-class="'btn ps-btn'"
            :prev-class="'btn ps-btn ps-active'"
            :page-link-class="'btn ps-btn'"
            :prev-link-class="'btn ps-btn ps-active'"
            :next-class="'btn ps-btn'"
            :next-link-class="'btn ps-btn'"
          ></paginate>
          <!-- <div class="ps-button-num">
          <button class="btn ps-btn">
            <span>1</span>
          </button>
          <button class="btn ps-btn ps-active">
            <span>2</span>
          </button>
          <button class="btn ps-btn">
            <span>3</span>
          </button>
          <button class="btn ps-btn">
            <span>4</span>
          </button>
          <button class="btn ps-btn">
            <span>...</span>
          </button>
          <button class="btn ps-btn">
            <span>50</span>
          </button>
          </div>-->
        </div>
      </div>
    </div>
    <div class="ps-items-heading" v-else>
      <div class="ps-posted-ads__title">
        <figure>
          <img src="images/grid-list/img-03.png" alt="Image" />
        </figure>
        <h5>No Ad Posted Yet :(</h5>
      </div>
      <h6>Click “Post Ad” button below to post your free ad</h6>
      <button class="btn ps-btn">Post Ad</button>
    </div>
    <!-- <div class="ps-no-ads">
      <div>
        <figure>
          <img src="images/grid-list/img-03.png" alt="Image" />
        </figure>
        <h5>No Ad Posted Yet :(</h5>
        <h6>Click “Post Ad” button below to post your free ad</h6>
        <button class="btn ps-btn">Post Ad</button>
      </div>
    </div>-->
  </div>
</template>

<script>
import { MYADS } from "@/store/actions.type";

export default {
  name: "dashboardMyAds",
  data() {
    return {
      myAds: {},
      pageLimit: 0
    };
  },
  mounted() {
    this.$store.dispatch(MYADS).then(data => {
      this.myAds = data.data;
      this.pageLimit = this.myAds.length / 10;
    });
  },
  methods: {
    clickCallback(pageNum) {}
  },
  confirmDelete(u) {
    this.selectedUser = u;
    this.confirmModal = true;
  }
};
</script>
