
<template>
  <main class="ps-main">
    <section class="ps-main-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="ps-dashboard-sidebar">
              <div class="ps-dashboard-sidebar__user">
                <figure>
                  <img src="images/insights/user-img.jpg" alt="Image Description" />
                </figure>
                <div class="ps-seller__description">
                  <h6>{{ user.first_name}} {{ user.middle_name}}</h6>
                  <div class="ps-h5">
                    Status:
                    <a
                      data-toggle="collapse"
                      href="#collapseUser"
                      role="button"
                      aria-expanded="false"
                    >
                      <span>
                        <em class="ps-online"></em>
                        <i class="fa fa-sort-down"></i>
                      </span>
                      <em>Online</em>
                    </a>
                    <div class="collapse" id="collapseUser">
                      <a href="#0">
                        <span class="ps-online"></span>
                        <em>Online</em>
                      </a>
                      <a href="#0">
                        <span class="ps-away"></span>
                        <em>Away</em>
                      </a>
                      <a href="#0">
                        <span class="ps-busy"></span>
                        <em>Busy</em>
                      </a>
                      <a href="#0">
                        <span class="ps-offline"></span>
                        <em>Offline</em>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ps-dashboard-sidebar__edit">
                  <a href="#0">
                    <i class="ti-pencil"></i>
                  </a>
                </div>
              </div>
              <ul>
                <li>
                  <router-link
                    active-class="active"
                    exact
                    :to="{ path: '/dashboard/dashboardHome' }"
                  >
                    <i class="ti-dashboard"></i>
                    <span>Dasboard</span>
                  </router-link>
                </li>
                <li>
                  <router-link
                    active-class="active"
                    exact
                    :to="{ path: '/dashboard/dashboardProfileSetting' }"
                  >
                    <i class="ti-user"></i>
                    <span>Profile Settings</span>
                  </router-link>
                </li>
                <li>
                  <router-link
                    active-class="active"
                    exact
                    :to="{ path: '/dashboard/dashboardMyAds' }"
                  >
                    <i class="ti-align-justify"></i>
                    <span>My Ads</span>
                  </router-link>
                </li>
                <li>
                  <router-link
                    active-class="active"
                    exact
                    :to="{ path: '/dashboard/dashboardPostAd' }"
                  >
                    <i class="ti-settings"></i>
                    <span>Post Ad</span>
                  </router-link>
                </li>
                <li>
                  <router-link
                    active-class="active"
                    exact
                    :to="{ path: '/dashboard/dashboardPayments' }"
                  >
                    <i class="ti-user"></i>
                    <span>Payments</span>
                  </router-link>
                </li>
                <li>
                  <router-link
                    active-class="active"
                    exact
                    :to="{ path: '/dashboard/dashboardMyFavorite' }"
                  >
                    <i class="ti-heart"></i>
                    <span>Favorite Listing</span>
                  </router-link>
                </li>
                <li>
                  <router-link
                    active-class="active"
                    exact
                    :to="{ path: '/dashboard/dashboardAccountSetting' }"
                  >
                    <i class="ti-bookmark"></i>
                    <span>Account & Privacy Settings</span>
                  </router-link>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-8 ps-dashboard-user">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { LOGOUT } from "@/store/actions.type";
import JwtService from "@/common/jwt.service";

export default {
  name: "dashboard",
  data() {
    return {
      user: {}
    };
  },
  methods: {
    logout: function() {
      this.$store.dispatch(LOGOUT).then(() => {
        this.$router.push("/login");
      });
    }
  },
  mounted() {
    this.user = JSON.parse(JwtService.getUser());
  }
};
</script>
