
<template>
  <div class="ps-posted-ads">
    <div class="ps-posted-ads__heading">
      <h5>Payments</h5>
      <label class="ps-sort">
        <select class="form-control">
          <option selected hidden>Show:</option>
          <option>All</option>
          <option>Half</option>
        </select>
      </label>
    </div>
    <div class="ps-items-heading">
      <h6>Invoice Id</h6>
      <h6>Purchase Date</h6>
      <h6>Actions</h6>
    </div>
    <div>
      <ul class="ps-payments-content">
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>8TECzHuhPy</h5>
                  <h6>Title: Basic Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>Jun 27, 2019</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>xgE67NS2nt</h5>
                  <h6>Title: Standard Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>May 13, 2019</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>RbNs3u6hs4</h5>
                  <h6>Title: Extended Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>Apr 12, 2019</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>ZeEq8XnPV9</h5>
                  <h6>Title: Standard Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>Mar 10, 2019</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>hGYUW8pLfZ</h5>
                  <h6>Title: Extended Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>Feb 11, 2019</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>v7DwqmFQ2Q</h5>
                  <h6>Title: Extended Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>Jan 09, 2019</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>Cc3GH2EJNh</h5>
                  <h6>Title: Standard Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>Dec 13, 2018</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>T4yjv6QfPm</h5>
                  <h6>Title: Basic Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>Nov 10, 2018</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="ps-posted-ads__title">
              <h6>Invoice Id</h6>
              <div>
                <figure>
                  <img src="images/payments/img-01.png" alt="Images" />
                </figure>
                <div class="ps-description">
                  <h5>Pjp59AyFJA</h5>
                  <h6>Title: Basic Package</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Purchase Date</h6>
              <h6>Oct 06, 2018</h6>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#0">
                  <i class="ti-eye"></i> View
                </a>
                <span>/</span>
                <a href="#0">
                  <i class="ti-printer"></i> Print
                </a>
              </span>
            </div>
          </div>
        </li>
      </ul>
      <div class="ps-page">
        <div class="ps-button-num">
          <button class="btn ps-btn">
            <span>1</span>
          </button>
          <button class="btn ps-btn ps-active">
            <span>2</span>
          </button>
          <button class="btn ps-btn">
            <span>3</span>
          </button>
          <button class="btn ps-btn">
            <span>4</span>
          </button>
          <button class="btn ps-btn">
            <span>...</span>
          </button>
          <button class="btn ps-btn">
            <span>50</span>
          </button>
        </div>
      </div>
    </div>
    <div class="ps-no-ads">
      <div>
        <figure>
          <img src="images/nothing.png" alt="Image Description" />
        </figure>
        <h5>No Payments Found :(</h5>
        <h6>Click “Buy Now” button below to buy a package</h6>
        <button class="btn ps-btn">Buy Now</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "dashboardPayments"
};
</script>
