<template>
  <div class="ps-posted-ads ps-profile-setting">
    <div class="ps-posted-ads__heading">
      <h5>Change Password</h5>
      <button v-on:click="onPasswordChange(user)" class="btn ps-btn">Save Changes</button>
    </div>
    <div class="ps-profile-setting__content ps-account-save">
      <form>
        <label>
          <input
            type="password"
            v-model="user.old_password"
            id="old_password"
            name="old_password"
            class="form-control"
            placeholder="Old Password*"
            :class="{
              'is-invalid': submitted && $v.user.old_password.$error
            }"
          />
          <div v-if="submitted && $v.user.old_password.$error" class="invalid-feedback">
            <span v-if="!$v.user.old_password.required">OldPasswords is required</span>
          </div>
        </label>
        <label>
          <input
            type="password"
            v-model="user.new_password"
            id="new_password"
            name="new_password"
            class="form-control"
            placeholder="New Password*"
            :class="{
              'is-invalid': submitted && $v.user.new_password.$error
            }"
          />
          <div v-if="submitted && $v.user.new_password.$error" class="invalid-feedback">
            <span v-if="!$v.user.new_password.required">New is required</span>
          </div>
        </label>
        <label>
          <input
            type="password"
            v-model="user.confirm_password"
            id="confirm_password"
            name="confirm_password"
            class="form-control"
            placeholder="Confirm new Password*"
            :class="{
              'is-invalid': submitted && $v.user.confirm_password.$error
            }"
          />
          <div v-if="submitted && $v.user.confirm_password.$error" class="invalid-feedback">
            <span v-if="!$v.user.confirm_password.required">Confirm Password is required</span>
            <span v-else-if="!$v.user.confirm_password.sameAsPassword">Passwords must match</span>
          </div>
        </label>
      </form>
    </div>
    <div class="ps-posted-ads ps-profile-setting">
      <div class="ps-posted-ads__heading">
        <h5>Account & Privacy Settings</h5>
        <button class="btn ps-btn">Save Changes</button>
      </div>
      <div class="ps-profile-setting__content ps-account-setting">
        <p>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua aut enim ad minim veniamac quis nostrud
          exercitation ullamco laboris.
        </p>
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="ps-account-checkbox">
              <div class="ps-on-off">
                <input type="checkbox" id="hide1" name="contactForm" />
                <label for="hide1">
                  <i></i>
                </label>
              </div>
              <p>Make my profile public</p>
            </div>
            <div class="ps-account-checkbox">
              <div class="ps-on-off">
                <input type="checkbox" id="hide2" name="contactForm" />
                <label for="hide2">
                  <i></i>
                </label>
              </div>
              <p>Share my profile photo</p>
            </div>
            <div class="ps-account-checkbox">
              <div class="ps-on-off">
                <input type="checkbox" id="hide3" name="contactForm" />
                <label for="hide3">
                  <i></i>
                </label>
              </div>
              <p>Show my client feedback</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ps-account-checkbox">
              <div class="ps-on-off">
                <input type="checkbox" id="hide4" name="contactForm" />
                <label for="hide4">
                  <i></i>
                </label>
              </div>
              <p>Make my profile searchable</p>
            </div>
            <div class="ps-account-checkbox">
              <div class="ps-on-off">
                <input type="checkbox" id="hide5" name="contactForm" />
                <label for="hide5">
                  <i></i>
                </label>
              </div>
              <p>Disable my account temporarily</p>
            </div>
            <div class="ps-account-checkbox">
              <div class="ps-on-off">
                <input type="checkbox" id="hide6" name="contactForm" />
                <label for="hide6">
                  <i></i>
                </label>
              </div>
              <p>Enable/ Disable</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-posted-ads ps-profile-setting ps-account">
      <div class="ps-posted-ads__heading">
        <h5>Deactivate Account</h5>
        <button class="btn ps-btn">Deactivate</button>
      </div>
      <div class="ps-profile-setting__content">
        <form class="ps-contact-seller ps-comment--form">
          <div class="ps-comment--row">
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Enter Password*" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Retype Password*" />
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Description"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { CHANGEPASSWORD } from "@/store/actions.type";
import { required, sameAs, alpha } from "vuelidate/lib/validators";
export default {
  name: "dashboardAccountSetting",
  data() {
    return {
      user: {
        old_password: "",
        new_password: "",
        confirm_password: ""
      },
      terms: false,
      hasErrorActive: false,
      submitted: false
    };
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors,
      success: state => state.auth.success
    })
  },
  validations: {
    user: {
      old_password: { required },
      new_password: { required },
      confirm_password: { required, sameAsPassword: sameAs("new_password") }
    },
    terms: {
      sameAs: sameAs(() => true)
    }
  },
  methods: {
    selectedRoute(val) {
      return val;
    },
    onPasswordChange(user) {
      const { old_password, new_password, confirm_password } = user;

      this.submitted = true;
      // stop here if form is invalid
      // this.$v.$touch();
      // if (this.$v.$invalid) {
      //   this.hasErrorActive = true;
      //   return;
      // }
      // this.hasErrorActive = false;

      //submit form to backend
      this.$store.dispatch(CHANGEPASSWORD, {
        old_password: old_password,
        new_password: new_password,
        confirm_password: confirm_password
      });
    }
  }
};
</script>
