
<template>
  <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <div class="ps-posted-ads ps-profile-setting">
      <div class="ps-posted-ads__heading">
        <h5>Post New Ad</h5>
      </div>
      <div class="ps-profile-setting__content">
        <form class="ps-profile-form">
          <div class="ps-profile--row">
            <div class="form-group">
              <input
                type="text"
                v-model="user.model"
                name="model"
                class="form-control"
                required
                placeholder="model?"
                :class="{
                            'is-invalid': submitted && $v.user.model.$error
                          }"
              />
              <div v-if="submitted && !$v.user.model.error" class="invalid-feedback">
                <span v-if="!$v.user.model.required">model is required*</span>
              </div>
            </div>

            <div class="form-group">
              <label>
                <select
                  class="form-control"
                  v-model="user.category"
                  name="category"
                  id="category"
                  :class="{
                              'is-invalid': submitted && $v.user.category.$error
                            }"
                >
                  <option value disabled selected hidden>Select Category(s)*</option>
                  <option v-for="category in selectcategory" v-bind:key="category">{{ category }}</option>
                </select>
              </label>
              <div v-if="submitted && !$v.user.category.error" class="invalid-feedback">
                <span v-if="!$v.user.category.required">category is required*</span>
              </div>
            </div>

            <div class="form-group ps-fullwidth">
              <input
                type="text"
                v-model="user.title"
                name="title"
                class="form-control"
                required
                placeholder="Your Ad Title Here"
                :class="{
                            'is-invalid': submitted && $v.user.title.$error
                          }"
              />
              <div v-if="submitted && !$v.user.title.error" class="invalid-feedback">
                <span v-if="!$v.user.title.required">Title is required*</span>
              </div>
            </div>

            <div class="form-group ps-fullwidth">
              <input
                type="text"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) ||  
   event.charCode == 46 || event.charCode == 0 "
                v-model="user.price"
                name="price"
                class="form-control"
                required
                placeholder="Item/ Product Price?"
                :class="{
                            'is-invalid': submitted && $v.user.price.$error
                          }"
              />
              <div v-if="submitted && !$v.user.price.error" class="invalid-feedback">
                <span v-if="!$v.user.price.required">product price is required*</span>
              </div>
            </div>

            <div class="form-group ps-fullwidth">
              <input
                type="text"
                v-model="user.country"
                name="country"
                class="form-control"
                required
                placeholder="Country?*"
                :class="{
                            'is-invalid': submitted && $v.user.country.$error
                          }"
              />
              <div v-if="submitted && !$v.user.country.error" class="invalid-feedback">
                <span v-if="!$v.user.country.required">Country Name is required*</span>
              </div>
            </div>
            <div class="form-group ps-fullwidth">
              <input
                type="text"
                v-model="user.city_of_the_ad"
                name="city_of_the_ad"
                class="form-control"
                required
                placeholder="City?*"
                :class="{
                            'is-invalid':
                              submitted && $v.user.city_of_the_ad.$error
                          }"
              />
              <div v-if="submitted && !$v.user.city_of_the_ad.error" class="invalid-feedback">
                <span v-if="!$v.user.city_of_the_ad.required">City Name is required*</span>
              </div>
            </div>
            <div class="form-group ps-fullwidth">
              <textarea
                class="form-control"
                v-model="user.description"
                name="description"
                required
                placeholder="Description*"
              ></textarea>
            </div>
          </div>
        </form>

        <form>
          <div class="ps-profile-setting__uploadarea">
            <input
              class="btn ps-btn"
              type="file"
              ref="file"
              id="file"
              name="file"
              @change="handleFileUpload($event)"
              multiple
            />

            <div></div>
          </div>
        </form>

        <h4>Enhance your ad’s visibility (Optional)</h4>
        <div>
          <table>
            <tr>
              <th>
                Select all Options
                <input type="checkbox" @click="selectAll" v-model="allSelected" />
              </th>
              <th>Name</th>
            </tr>
            <tr v-for="ads in AdsData" :key="ads.id">
              <td>
                <input type="checkbox" v-model="userIds" :id="ads.id" :value="ads" />
              </td>
              <td>
                {{ ads.title }}
                {{ ads.subtext }}
              </td>
              <td>{{ ads.link }}</td>
              <td>{{ ads.time }}</td>
              <td>{{ ads.price }}</td>
            </tr>
            <tr>
              <td>
                <span>Total :</span>
              </td>
              <td>
                <span>{{userIds}}</span>
              </td>
            </tr>
          </table>
        </div>

        <button v-on:click="adpost(user)" class="btn ps-btn" type="button">Save Changes</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { ADDITEM } from "@/store/actions.type";
import { required, alpha, maxLength } from "vuelidate/lib/validators";
import {
  getTokenFromLocalStorage,
  saveTokenToLocalStorage,
  destroyTokenFromLocalStorage
} from "../common/helper";
import { ID_TOKEN_KEY } from "../common/config";
export default {
  name: "dashboardPostAd",
  data() {
    return {
      user: {
        model: "",
        category: "",
        title: "",
        price: "",
        description: "",
        country: "",
        city_of_the_ad: ""
      },
      AdsData: [
        {
          id: "1",
          title: "VIP Carousel",
          subtext: "VIP puts in the top carousel and enlarges your image",
          link: "More Info",
          time: "10 Days",
          price: 150
        },
        {
          id: "2",
          title: "Premium Ad",
          subtext: "Your Ad will be featured in that category",
          link: "More Info",
          time: "10 Days",
          price: 150
        },
        {
          id: "3",
          title: "Highlight Your Ad",
          subtext:
            "Your ad will have coloured background for the duration of plan",
          link: "More Info",
          time: "10 Days",
          price: 150
        },
        {
          id: "4",
          title: "Repost Your Ad",
          subtext: "Your ad will be reposted to the top of the page",
          link: "More Info",
          time: "10 Days",
          price: 150
        }
      ],
      selected: [],
      allSelected: false,
      userIds: [],
      checkedNames: [],
      submitted: false,
      terms: false,
      hasErrorActive: false,

      computed: {
        total() {
          return this.userIds.reduce((sum, addon) => sum + addon.price, 10000);
        },
        ...mapState({
          errors: state => state.auth.errors,
          success: state => state.auth.success
        })
      },

      selectcategory: [
        "Mobiles",
        "Electronics",
        "Vehicles",
        "Bikes",
        "Animals",
        "Furniture",
        "toys"
      ]
    };
  },

  validations: {
    user: {
      model: { required },
      category: { required },
      title: { required },
      price: { required, maxLength: maxLength(6) },
      description: { required },
      country: { required },
      city_of_the_ad: { required }
    }
  },

  methods: {
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    selectAll: function() {
      this.userIds = [];

      if (!this.allSelected) {
        console.log("this.AdsData", this.AdsData);
        for (const ads in this.AdsData) {
          this.userIds.push(this.AdsData[ads].id);
        }
      }
    },

    adpost(user) {
      let formData = new FormData();

      Object.entries(user).forEach((key, index) => {
        formData.append([key[0]], key[1]);
      });
      formData.append("Media", this.file);
      this.submitted = true;
      //stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.hasErrorActive = true;
        return;
      }
      this.hasErrorActive = false;

      //submit form to backend
      this.$store.dispatch(ADDITEM, formData);
    }
  }
};
</script>
