
<template>
  <div class="col-lg-12 ps-dashboard-user">
    <div class="ps-dashboard--btn">
      <a href="#0" class="btn ps-post ps-btn">
        <h6>
          15,260
          <span class="d-block">Total Posted Ads</span>
        </h6>
        <span class="ps-icon">
          <i class="ti-bookmark-alt"></i>
        </span>
      </a>
      <a href="#0" class="btn ps-item ps-btn">
        <h6>
          13,908
          <span class="d-block">Total Items Sold</span>
        </h6>
        <span class="ps-icon">
          <i class="ti-star"></i>
        </span>
      </a>
      <a href="#0" class="btn ps-cancel ps-btn">
        <h6>
          1,352
          <span class="d-block">Total Cancelled Ads</span>
        </h6>
        <span class="ps-icon">
          <i class="ti-na"></i>
        </span>
      </a>
    </div>
    <div class="ps-posted-ads ps-my-ads">
      <div class="ps-posted-ads__heading">
        <h5>My Posted Ads</h5>
        <button class="btn ps-btn">
          <router-link class="btn ps-btn" :to="{ path: '/dashboard/dashboardPostAd' }">Post Ad</router-link>
        </button>
      </div>
      <div class="ps-items-heading">
        <h6>Title</h6>
        <h6>Status</h6>
        <h6>Actions</h6>
      </div>
      <ul>
        <li v-for="(item,index) in products" :key="item._id">
          <div>
            <div class="ps-posted-ads__title">
              <h6>{{ item.title }}</h6>
              <div>
                <figure>
                  <img src="./../assets/images/insights/icon/img-01.jpg" alt="Images Description" />
                </figure>
                <div class="ps-description">
                  <h5>${{ item.price }}</h5>
                  <h6>{{ item.title }}</h6>
                </div>
              </div>
            </div>
            <div class="ps-posted-ads__status">
              <h6>Status</h6>
              <button class="btn ps-btn ps-featured">Featured</button>
            </div>
            <div class="ps-posted-ads__actions">
              <h6>Actions</h6>
              <span>
                <a href="#" @click.prevent="editModal(item)" class="ps-edit">
                  <i class="ti-pencil"></i> Edit
                </a>
                <span>/</span>
                <a href="#" @click.prevent="confirmDelete(item._id, index)" class="ps-delete">
                  <i class="ti-trash"></i> Delete
                </a>
              </span>
            </div>
          </div>
        </li>
      </ul>
       <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="updateUser()" >
      <div class="ps-profile--row">
            <div class="form-group">
              <input
                type="text"
                v-model="user.model"
                name="model"
                class="form-control"
                required
                placeholder="model?"
    
              />
            </div>

            <div class="form-group">
              <label>
                <select
                  class="form-control"
                  v-model="user.category"
                  name="category"
                  id="category"
                >
                  <option value disabled selected hidden>Select Category(s)*</option>
                  <option v-for="category in selectcategory" v-bind:key="category">{{ category }}</option>
                </select>
              </label>
            </div>

            <div class="form-group ps-fullwidth">
              <input
                type="text"
                v-model="user.title"
                name="title"
                class="form-control"
                required
                placeholder="Your Ad Title Here"
              />
            </div>

            <div class="form-group ps-fullwidth">
              <input
                type="text"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) ||  
   event.charCode == 46 || event.charCode == 0 "
                v-model="user.price"
                name="price"
                class="form-control"
                required
                placeholder="Item/ Product Price?"
              />
            </div>

            <div class="form-group ps-fullwidth">
              <input
                type="text"
                v-model="user.country"
                name="country"
                class="form-control"
                required
                placeholder="Country?*"
              />
            </div>
            <div class="form-group ps-fullwidth">
              <input
                type="text"
                v-model="user.city_of_the_ad"
                name="city_of_the_ad"
                class="form-control"
                required
                placeholder="City?*"
              />
            </div>
            <div class="form-group ps-fullwidth">
              <textarea
                class="form-control"
                v-model="user.description"
                name="description"
                required
                placeholder="Description*"
              ></textarea>
            </div>
          </div>
                
                <div class="modal-footer">
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                </div>

                </form>

                </div>
            </div>
            </div>
      <div class="ps-no-ads">
        <div>
          <figure>
            <!-- <img src="./../assets/images/grid-list/img-03.png" alt="Image Description" /> -->
          </figure>
          <h5>No Ad Posted Yet :(</h5>
          <h6>Click “Post Ad” button below to post your free ad</h6>
          <button class="btn ps-btn">Post Ad</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import search from "@/components/Search";
import carousel from "vue-owl-carousel";
import {EDITITEM, MYADS,DELETEAD } from "@/store/actions.type";
import { API_URL } from "@/common/config";
import Swal from 'sweetalert2'

export default {
  name: "dashboardHome",
  data() {
    return {
      editmode: false,
      products: {},
                user: {
                    model : '',
                    title: '',
                    price: '',
                    category: '',
                    country: '',
                    city_of_the_ad: '',
                    description: ''
                },       
      BackendUrl: API_URL,
         selectcategory: [
        "Mobiles",
        "Electronics",
        "Vehicles",
        "Bikes",
        "Animals",
        "Furniture",
        "toys"
      ],
    };
  },
  components: {
    search,
    carousel
  },
  methods: {
      editModal(user){
      this.editmode = true;
      $('#addNew').modal('show');
      this.user=user;
    },
        updateUser(){
        this.$store.dispatch(EDITITEM, this.user)
        .then(() => {
            $('#addNew').modal('hide');
              Swal.fire(
                'Updated!',
                'Information has been updated.',
                'success'
                )
        })
    },
    confirmDelete(id,index) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#9c09a0',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          this.$store.dispatch(DELETEAD, id).then(data => {
            Swal.fire('Deleted!', 'Your file has been deleted.', 'success')
            this.products.splice(index, 1)
          })
        }
      })
    }
  },
  mounted() {
    this.$store
      .dispatch(MYADS)
      .then(data => {
        this.products = data.data;
      });
  }
};
</script>
