
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <div class="container">
      <div class="row">
        <div id="tg-content" class="tg-content">
          <div class="tg-loginsignup">
            <div class="offset-lg-3 col-lg-6">
              <div class="tg-logingarea clearfix">
                <h2>Forgot Password</h2>
                <form class="tg-formtheme tg-formloging clearfix">
                  <fieldset>
                    <div class="form-group">
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        v-model="user.email"
                        placeholder="Email"
                        :class="{
                          'is-invalid': submitted && $v.user.email.$error
                        }"
                      />
                      <div
                        v-if="submitted && $v.user.email.$error"
                        class="invalid-feedback"
                      >
                        <span v-if="!$v.user.email.required"
                          >Email is required</span
                        >
                        <span v-if="!$v.user.email.email"
                          >Email is invalid</span
                        >
                      </div>
                    </div>
                    <button
                      class="tg-btn btn-block"
                      v-on:click="onForgot(user)"
                      type="button"
                    >
                      Submit
                    </button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { FORGOTPASSWORD } from "@/store/actions.type";
import VueToast from "vue-toast-notification";
import facebookLogin from "facebook-login-vuejs";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import GSignInButton from "vue-google-signin-button";
import { FACEBOOK_APP_ID, GOOGLE_CLIENT_ID } from "@/common/config";
import {
  getTokenFromLocalStorage,
  saveTokenToLocalStorage,
  destroyTokenFromLocalStorage
} from "../common/helper";
import { ID_TOKEN_KEY } from "../common/config";
import store from "../store/auth.module";
export default {
  name: "forgotPassword",
  data() {
    return {
      user: {
        email: ""
      },
      isConnected: false,
      hasErrorActive: false,
      submitted: false
    };
  },
  validations: {
    user: {
      email: { required, email }
    }
  },
  // computed: {
  //   ...mapGetters(["currentUser", "isAuthenticated"])
  // },
  methods: {
    onForgot(user) {
      const { email } = user;
      this.submitted = true;

      this.$v.$touch();
      if (this.$v.$invalid) {
        this.hasErrorActive = true;
        return;
      }
      this.hasErrorActive = false;

      this.$store.dispatch(FORGOTPASSWORD, { email });
      // .then(response => {
      //   console.log("response======+++++++", response);
      //   let message = response.message;
      //   console.log("message===", message);

      //   if (response.success) {
      //     this.$toast.success({
      //       title: "Login sucessfull",
      //       message: "",
      //       position: "top right"
      //     });
      //     setTimeout(() => {
      //       this.$router.push("Dashboard");
      //     }, 1000);
      //   } else {
      //     let message = response.message;
      //     this.$toast.error({
      //       title: message,
      //       message: "",
      //       position: "top right"
      //     });
      //   }
      // })
      // .catch(err => {
      //   throw err;
      // });
    }
  }
};
</script>
