
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <div class="container">
      <div class="row">
        <div id="tg-content" class="tg-content">
          <div class="tg-loginsignup">
            <div class="offset-lg-3 col-lg-6">
              <div class="tg-logingarea clearfix">
                <h2>Reset Password</h2>
                <form class="tg-formtheme tg-formloging clearfix">
                  <fieldset>
                    <div class="form-group">
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        v-model="user.password"
                        placeholder="Password"
                        :class="{
                          'is-invalid': submitted && $v.user.password.$error
                        }"
                      />
                      <div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
                        <span v-if="!$v.user.password.required">password is required</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        name="c_password"
                        class="form-control"
                        v-model="user.c_password"
                        placeholder="Confirm Password"
                        :class="{
                          'is-invalid': submitted && $v.user.c_password.$error
                        }"
                      />
                      <div v-if="submitted && $v.user.c_password.$error" class="invalid-feedback">
                        <span v-if="!$v.user.c_password.required">Confirm Password is required</span>
                        <span v-else-if="!$v.user.c_password.sameAsPassword">Passwords must match</span>
                      </div>
                    </div>
                    <button
                      class="tg-btn"
                      v-on:click.prevent="onPasswordReset(user)"
                      type="button"
                    >Reset</button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { FORGOTPASSWORDRESET, UPDATEPROFILE } from "@/store/actions.type";
import VueToast from "vue-toast-notification";
import { required, sameAs } from "vuelidate/lib/validators";
export default {
  name: "forgotPasswordReset",
  data() {
    return {
      token: {},
      user: {
        password: "",
        c_password: ""
      },
      isConnected: false,
      hasErrorActive: false,
      submitted: false
    };
  },

  validations: {
    user: {
      password: { required },
      c_password: {
        required,
        sameAsPassword: sameAs("password")
      }
    }
  },
  methods: {
    onPasswordReset(user) {
      const { password, c_password } = user;
      this.submitted = true;
      //stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.hasErrorActive = true;
        return;
      }
      let token = this.$route.params.token;
      this.hasErrorActive = false;

      this.$store.dispatch(UPDATEPROFILE, { token, password }).then(data => {});
    }
  }
};
</script>
