
<template>
  <div>
    <search></search>
    <main id="tg-main" class="tg-main tg-haslayout">
      <section class="tg-haslayout tg-bglight tg-sectionspace">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="tg-categoriessearch">
                <div class="tg-title clearfix">
                  <h2>
                    <span>Boost your search with</span> Trending Categories
                  </h2>
                </div>
              </div>
            </div>
            <div v-if="categories.length >= 1" class="tg-categoriesslider d-none d-lg-block">
              <carousel
                :autoplay="true"
                :loop="true"
                :margin="10"
                :nav="true"
                :per-page="1"
                :responsive="{
                  0: { items: 2 },
                  600: { items: 3 },
                  1000: { items: 5 }
                }"
              >
                <div v-for="item in categories" :key="item._id" class="item clearfix">
                  <div class="tg-category clearfix">
                    <div class="tg-categoryholder">
                      <figure>
                        <img src="./../assets/images/icons/img-08.png" alt="image description" />
                      </figure>
                    </div>
                    <h3 class="mt-3 color-purple font-weight-bold text-center">{{ item.name }}</h3>
                  </div>
                </div>
              </carousel>
            </div>

            <div v-else>No Categories found</div>
          </div>
        </div>
        <div class="d-lg-none d-md-block">
          <div class="row justify-content-center px-3">
            <div class="col-6 mb-3">
              <div class="tg-category clearfix">
                <div class="tg-categoryholder">
                  <figure>
                    <img src="./../assets/images/icons/img-09.png" alt="image description" />
                  </figure>
                </div>
                <h3 class="mt-3 color-purple font-weight-bold text-center">Electronics</h3>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="tg-category clearfix">
                <div class="tg-categoryholder">
                  <figure>
                    <img src="./../assets/images/icons/img-12.png" alt="image description" />
                  </figure>
                </div>
                <h3 class="mt-3 color-purple font-weight-bold text-center">Animals</h3>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="tg-category clearfix">
                <div class="tg-categoryholder">
                  <figure>
                    <img src="./../assets/images/icons/img-13.png" alt="image description" />
                  </figure>
                </div>
                <h3 class="mt-3 color-purple font-weight-bold text-center">Furniture</h3>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="tg-category clearfix">
                <div class="tg-categoryholder">
                  <figure>
                    <img src="./../assets/images/icons/img-11.png" alt="image description" />
                  </figure>
                </div>
                <h3 class="mt-3 color-purple font-weight-bold text-center">Bikes</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="tg-haslayout tg-sectionspace">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="tg-sectionhead">
                <div class="tg-title">
                  <h2>VIP Ads</h2>
                </div>
              </div>
            </div>
            <div class="tg-ads-new">
              <carousel
                :autoplay="true"
                :loop="true"
                :margin="10"
                :nav="true"
                :responsive="{
                  0: { items: 2 },
                  600: { items: 3 },
                  1000: { items: 5 }
                }"
              >
                <div class="item clearfix">
                  <div class="tg-ad tg-verifiedad">
                    <figure>
                      <a href="#0">
                        <img src="./../assets/images/ads/img-01.jpg" alt="image description" />
                      </a>
                    </figure>
                    <div class="tg-adcontent">
                      <div class="tg-adtitle">
                        <h3 class="py-2">
                          <a href="#0">Ei pad pro for sale</a>
                        </h3>
                      </div>
                      <ul class="cc-deal">
                        <li>1 CC</li>
                        <li>2018</li>
                        <li>Dealer</li>
                        <li>Coimbatore</li>
                      </ul>
                      <div class="tg-adprice py-2">
                        <h4 class="color-purple">Rs 17,00,200</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item clearfix">
                  <div class="tg-ad tg-verifiedad">
                    <figure>
                      <a href="#0">
                        <img src="./../assets/images/ads/img-02.jpg" alt="image description" />
                      </a>
                    </figure>
                    <div class="tg-adcontent">
                      <div class="tg-adtitle">
                        <h3 class="py-2">
                          <a href="#0">Ei pad pro for sale</a>
                        </h3>
                      </div>
                      <ul class="cc-deal">
                        <li>1 CC</li>
                        <li>2018</li>
                        <li>Dealer</li>
                        <li>Coimbatore</li>
                      </ul>
                      <div class="tg-adprice py-2">
                        <h4 class="color-purple">Rs 17,00,200</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item clearfix">
                  <div class="tg-ad tg-verifiedad">
                    <figure>
                      <a href="#0">
                        <img src="./../assets/images/ads/img-03.jpg" alt="image description" />
                      </a>
                    </figure>
                    <div class="tg-adcontent">
                      <div class="tg-adtitle">
                        <h3 class="py-2">
                          <a href="#0">Ei pad pro for sale</a>
                        </h3>
                      </div>
                      <ul class="cc-deal">
                        <li>1 CC</li>
                        <li>2018</li>
                        <li>Dealer</li>
                        <li>Coimbatore</li>
                      </ul>
                      <div class="tg-adprice py-2">
                        <h4 class="color-purple">Rs 17,00,200</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item clearfix">
                  <div class="tg-ad tg-verifiedad">
                    <figure>
                      <a href="#0">
                        <img src="./../assets/images/ads/img-04.jpg" alt="image description" />
                      </a>
                    </figure>
                    <div class="tg-adcontent">
                      <div class="tg-adtitle">
                        <h3 class="py-2">
                          <a href="#0">Ei pad pro for sale</a>
                        </h3>
                      </div>
                      <ul class="cc-deal">
                        <li>1 CC</li>
                        <li>2018</li>
                        <li>Dealer</li>
                        <li>Coimbatore</li>
                      </ul>
                      <div class="tg-adprice py-2">
                        <h4 class="color-purple">Rs 17,00,200</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item clearfix">
                  <div class="tg-ad tg-verifiedad">
                    <figure>
                      <a href="#0">
                        <img src="./../assets/images/ads/img-05.jpg" alt="image description" />
                      </a>
                    </figure>
                    <div class="tg-adcontent">
                      <div class="tg-adtitle">
                        <h3 class="py-2">
                          <a href="#0">Ei pad pro for sale</a>
                        </h3>
                      </div>
                      <ul class="cc-deal">
                        <li>1 CC</li>
                        <li>2018</li>
                        <li>Dealer</li>
                        <li>Coimbatore</li>
                      </ul>
                      <div class="tg-adprice py-2">
                        <h4 class="color-purple">Rs 17,00,200</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item clearfix">
                  <div class="tg-ad tg-verifiedad">
                    <figure>
                      <a href="#0">
                        <img src="./../assets/images/ads/img-06.jpg" alt="image description" />
                      </a>
                    </figure>
                    <div class="tg-adcontent">
                      <div class="tg-adtitle">
                        <h3 class="py-2">
                          <a href="#0">Ei pad pro for sale</a>
                        </h3>
                      </div>
                      <ul class="cc-deal">
                        <li>1 CC</li>
                        <li>2018</li>
                        <li>Dealer</li>
                        <li>Coimbatore</li>
                      </ul>
                      <div class="tg-adprice py-2">
                        <h4 class="color-purple">Rs 17,00,200</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </carousel>
            </div>
          </div>
        </div>
      </section>
      <section class="tg-sectionspace tg-bglight tg-haslayout">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="tg-sectionhead">
                <div class="tg-title">
                  <h2>Latest featured Ads</h2>
                </div>
              </div>
              <div class="tg-ads tg-adsvtwo tg-adslist listing-page">
                <div v-if="products.length" class="row">
                  <div
                    v-for="item in products.slice(0, 2)"
                    :key="item._id"
                    class="col-sm-12 col-md-12 col-lg-12"
                  >
                    <div class="tg-ad tg-verifiedad listing-ad-neww">
                      <div class="row">
                        <div class="col-lg-4 col-5 pr-0 pr-lg-1">
                          <figure>
                            <div class="grid-widget grid-widget--listings">
                              <div
                                v-if="item.photos.length >= 1"
                                id="demo-1"
                                class="carousel slide"
                                data-ride="carousel"
                              >
                                <carousel
                                  :autoplay="true"
                                  :nav="false"
                                  :responsive="{
                                    0: { items: 1 },
                                    600: { items: 1 },
                                    1000: { items: 1 }
                                  }"
                                >
                                  <div
                                    v-for="(pic, index) in item.photos"
                                    :key="index"
                                    class="carousel-item item clearfix active"
                                  >
                                    <span class="numbering-new">
                                      {{
                                      index + 1
                                      }}
                                    </span>
                                    <img class="one_img" :src="BackendUrl + pic.name" alt="img" />
                                  </div>
                                  <template slot="prev">
                                    <span class="prev">prev</span>
                                  </template>
                                  <template slot="next">
                                    <span class="next">next</span>
                                  </template>
                                </carousel>
                              </div>
                            </div>
                          </figure>
                        </div>

                        <div class="col-lg-8 col-7 pl-0 pl-lg-2">
                          <router-link :to="'/item/' + item._id">
                            <div class="tg-adcontent">
                              <ul class="tg-admetadata clearfix mb-lg-2">
                                <li>For Sale</li>
                                <li>2 bedrooms</li>
                                <li>5° Floor</li>
                                <li>No agency</li>
                              </ul>
                              <div class="tg-adtitle mb-1">
                                <h3>
                                  <a href="#0">{{ item.title }}</a>
                                </h3>
                                <p>{{ item.description }}</p>
                              </div>
                              <div class="row">
                                <div class="col-md-8">
                                  <ul class="tg-admetadata clearfix mb-lg-2">
                                    <li>{{ item.category }}</li>
                                    <li>{{ item.city_of_the_ad }}</li>
                                    <li>{{ item.city_of_the_ad }}</li>
                                  </ul>
                                </div>
                                <div class="col-md-4">
                                  <div class="tg-adprice py-0 text-right">
                                    <h4 class="color-purple">Rs {{ item.price }}</h4>
                                  </div>
                                </div>
                              </div>
                              <div class="tg-phonelike">
                                <a class="tg-btnphone" href="#0">
                                  <i class="icon-phone-handset"></i>
                                  <span
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Show Phone No."
                                    data-last="0800 - 1234 - 562 - 6"
                                  >
                                    <em>Show Phone No.</em>
                                  </span>
                                </a>
                                <span class="tg-like tg-liked">
                                  <i class="fa fa-heart"></i>
                                </span>
                              </div>
                            </div>
                          </router-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else>No products found</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="tg-btnbox">
                <router-link class="tg-btn" :to="'/items'">View All</router-link>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
import { mapState } from "vuex";
import search from "@/components/Search";
import carousel from "vue-owl-carousel";
import { PRODUCTS, CATEGORIES } from "@/store/actions.type";
import { API_URL } from "@/common/config";

export default {
  name: "home",
  data() {
    return {
      products: {},
      categories: {},
      BackendUrl: API_URL
    };
  },
  components: {
    search,
    carousel
  },
  mounted() {
    this.$store.dispatch(CATEGORIES).then(data => {
      this.categories = data.data.result;
    });
    this.$store
      .dispatch(PRODUCTS, "?title=" + "&location=" + "&category=")
      .then(data => {
        this.products = data.data.result;
      });
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  }
};
</script>
