
<template>
  <div>
    <search></search>
    <main id="tg-main" class="tg-main tg-haslayout">
      <div class="tg-breadcrumbarea">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ol class="tg-breadcrumb">
                <li>
                  <a href="#">Home</a>
                </li>
                <li class="tg-active">ad listing list</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div id="tg-twocolumns" class="tg-twocolumns border-top-purple">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 order-lg-2">
              <aside id="tg-sidebar" class="tg-sidebar">
                <div class="tg-sellercontactdetail d-none d-lg-block">
                  <div class="tg-sellercontact clearfix mb-4">
                    <div class="tg-memberinfobox">
                      <div class="tg-memberinfo text-center">
                        <h3 class="mb-2">
                          <a href="#0">Contact the advertise</a>
                        </h3>
                        <span>
                          Don't forget to mention vivastreet
                          <br />When you get in touch !
                        </span>
                      </div>
                    </div>

                    <a class="tg-btnphone bhtnn" href="#0">
                      <i class="fa fa-phone"></i>
                      <span>
                        <em>See Phone Number</em>
                      </span>
                    </a>
                    <a class="tg-btnphone bhtnn" href="#0">
                      <i class="fa fa-envelope"></i>
                      <span>
                        <em>Send a Message</em>
                      </span>
                    </a>
                    <a class="bhtnn" href="#0">
                      <div class="text-center pt-2 pb-3">
                        <img src="./../assets/./../assets/images/wtsp.png" width="200px" alt="img" />
                      </div>
                    </a>
                    <div class="d-none d-lg-block">
                      <a class="tg-btnphone bhtnn light-bhtn" href="#0">
                        <i class="fa fa-flag"></i>
                        <span>
                          <em>Report this ad</em>
                        </span>
                      </a>
                      <a class="tg-btnphone bhtnn light-bhtn" href="#0">
                        <i class="fa fa-info"></i>
                        <span>
                          <em>Concerns for Advertiser</em>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="tg-sellercontact clearfix d-none d-lg-block">
                    <div class="tg-map">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13719.388935099598!2d76.6902512197754!3d30.722694799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1580549486582!5m2!1sen!2sin"
                        width="100%"
                        height="400"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
            <div class="col-lg-8 order-lg-1">
              <div id="tg-content" class="tg-content">
                <div class="tg-ad tg-verifiedad tg-detail tg-addetail">
                  <div class="tg-adcontent clearfix">
                    <ul class="tg-pagesequence clearfix d-none d-lg-block">
                      <li>
                        <a href="#0">Laptops &amp; Pcs</a>
                      </li>
                      <li>
                        <a href="#0">Laptops</a>
                      </li>
                      <li>
                        <span>HP</span>
                      </li>
                    </ul>
                    <div class="date-detail">
                      <p>
                        {{ itemDetail.created_at | formatDate }}
                        <span
                          class="vip-feature"
                        >Featured / VIP</span>
                      </p>
                    </div>
                    <div class="tg-adtitle">
                      <h2>{{ itemDetail.title }}</h2>
                    </div>
                    <ul class="tg-admetadata clearfix">
                      <li>
                        By:
                        <a href="#0">Lurlene Cashman</a>
                      </li>
                      <li>
                        Ad Id:
                        <a href="#0">248GCa57</a>
                      </li>
                      <li>
                        <i class="icon-earth"></i>
                        <address>
                          {{ itemDetail.city_of_the_ad }} ,{{
                          itemDetail.country
                          }}
                        </address>
                      </li>
                    </ul>
                    <div class="d-block d-lg-none bg-purple">
                      <a class="tg-btnphone bhtnn" href="#0">
                        <i class="fa fa-phone"></i>
                        <span>
                          <em>See Phone Number</em>
                        </span>
                      </a>
                      <a class="tg-btnphone bhtnn" href="#0">
                        <i class="fa fa-envelope"></i>
                        <span>
                          <em>Send a Message</em>
                        </span>
                      </a>
                      <a class="bhtnn" href="#0">
                        <div class="text-center pt-lg-2 pb-lg-3">
                          <img src="./../assets/images/wtsp.png" width="200px" alt="img" />
                        </div>
                      </a>
                    </div>
                    <div class="tg-share d-none d-lg-block">
                      <strong>share:</strong>
                      <ul class="tg-socialicons">
                        <li class="tg-facebook">
                          <a href="#0">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="tg-twitter">
                          <a href="#0">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#0">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="multiple-img py-4">
                    <div
                      id="carousel-thumb"
                      class="carousel slide carousel-fade carousel-thumbnails"
                      data-ride="carousel"
                    >
<!--                       <div class="carousel-inner" role="listbox"> -->
                        <div
                          class="carousel-item active"
                          v-for="(item, index) in itemDetail.photos"
                          :key="index"
                        >
                          <img class="d-block w-100" :src="BackendUrl + item.name" alt="img" />
                        </div>
                      </div>
                      <a
                        class="carousel-control-prev"
                        href="#carousel-thumb"
                        role="button"
                        data-slide="prev"
                      >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a
                        class="carousel-control-next"
                        href="#carousel-thumb"
                        role="button"
                        data-slide="next"
                      >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <div class="d-block d-lg-none">
                    <div class="tg-share clearfix">
                      <strong>share:</strong>
                      <ul class="tg-socialicons">
                        <li class="tg-facebook">
                          <a href="#0">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="tg-twitter">
                          <a href="#0">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#0">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tg-description">
                    <p>{{ itemDetail.description }}</p>
                    <ul class="clearfix">
                      <li>Proident sunt in culpa qui officia</li>
                      <li>Deserunt mollit anim idestorum</li>
                      <li>Sedutana perspiciatis</li>
                      <li>Aunde omnis iste natus error sit voluptatem</li>
                      <li>Cullamcoaris nisiutia aliquip</li>
                    </ul>
                  </div>
                </div>
                <div class="tg-sellercontact clearfix d-block d-lg-none">
                  <div class="tg-map">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13719.388935099598!2d76.6902512197754!3d30.722694799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1580549486582!5m2!1sen!2sin"
                      width="100%"
                      height="400"
                      frameborder="0"
                      style="border:0;"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     <!--  </div> -->
    </main>
  </div>
</template>
<script>
import  carousel  from "vue-owl-carousel";
import moment from "moment";
import { ITEMDETAIL } from "@/store/actions.type";
import search from "@/components/Search";
import { API_URL } from "@/common/config";

export default {
  name: "ItemDetail",
  data() {
    return {
      itemDetail: {},
      BackendUrl: API_URL
    };
  },
  components: {
    search,
    carousel
  },
  mounted() {
    this.$store.dispatch(ITEMDETAIL, this.$route.params.id).then(data => {
      this.itemDetail = data.data;
    });
  }
};
</script>
