
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <div class="container">
<!--       <BlockUI :message="msg"></BlockUI>
 -->      <div class="row">
        <div id="tg-content" class="tg-content">
          <div class="tg-loginsignup">
            <div class="offset-lg-3 col-lg-6">
              <div class="tg-logingarea clearfix">
                <h2>Sign In Account</h2>
                <form class="tg-formtheme tg-formloging clearfix">
                  <fieldset>
                    <div class="form-group">
                      <input
                        type="email"
                        name="email"
                        v-model="user.email"
                        placeholder="Email"
                        class="form-controlS"
                        :class="{
                          'is-invalid': submitted && $v.user.email.$error
                        }"
                      />
                      <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                        <span v-if="!$v.user.email.required">Email is required</span>
                        <span v-if="!$v.user.email.email">Email is invalid</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        v-model="user.password"
                        placeholder="Password"
                        :class="{
                          'is-invalid': submitted && $v.user.password.$error
                        }"
                      />
                      <div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
                        <span v-if="!$v.user.password.required">Password is required</span>
                        <span
                          v-if="!$v.user.password.minLength"
                        >Password must be at least 6 characters</span>
                      </div>
                    </div>
                    <div class="form-group clearfix">
                      <div class="tg-checkbox">
                        <input
                          id="tg-rememberme"
                          type="checkbox"
                          name="rememberme"
                          value="rememberme"
                        />
                        <label for="tg-rememberme">Keep me logged in</label>
                      </div>
                      <!-- <a class="tg-forgetpassword" href="#0"
                        >Forgot Password?</a
                      >-->
                      <div>
                        <router-link
                          :to="{ path: '/ForgotPassword' }"
                          class="tg-forgetpassword"
                        >Forgot Password ?</router-link>
                      </div>
                    </div>
                    <button class="tg-btn btn-block" v-on:click="onSubmit(user)" type="button">Login</button>
                  </fieldset>
                </form>

                <hr class="clearfix mb-4" />
                <div class="register text-center">
                  Not a member yet?
                  <router-link :to="{ path: '/register' }">Register</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { LOGIN } from "@/store/actions.type";
import VueToast from "vue-toast-notification";
import facebookLogin from "facebook-login-vuejs";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import GSignInButton from "vue-google-signin-button";
import { FACEBOOK_APP_ID, GOOGLE_CLIENT_ID } from "@/common/config";
import {
  getTokenFromLocalStorage,
  saveTokenToLocalStorage,
  destroyTokenFromLocalStorage
} from "../common/helper";
import { ID_TOKEN_KEY } from "../common/config";
import store from "../store/auth.module";
export default {
  name: "RwvLogin",
  data() {
    return {
      msg: "Loading...",
      user: {
        email: "",
        password: ""
      },
      isConnected: false,
      hasErrorActive: false,
      submitted: false,
      FB: undefined,
      googleSignInParams: {
        clientId: GOOGLE_CLIENT_ID
      },
      facebookAppId: FACEBOOK_APP_ID
    };
  },
  components: {
    facebookLogin,
    GSignInButton
  },
  validations: {
    user: {
      email: { required, email },
      password: { required, minLength: minLength(6) }
    }
  },
  computed: {
    ...mapGetters(["currentUser", "isAuthenticated"])
  },
  methods: {
    successAlert() {
      this.$swal("Success", "Login Success", "success");
    },
    errorAlert() {
      this.$swal("Error !", "Error", "error");
    },

    onSubmit(user) {
      const { email, password } = user;
      this.submitted = true;

      //stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.hasErrorActive = true;
        return;
      }
      this.hasErrorActive = false;

      this.$store
        .dispatch(LOGIN, { email, password })
        .then(response => {
          let message = response.message;
          if (response.success) {
            this.$toast.success({
              title: "Login sucessfull",
              message: "",
              position: "top right"
            });
            setTimeout(() => {
              this.$router.push("Dashboard");
            }, 1000);
          } else {
            this.$toast.error({
              title: message,
              message: "",
              position: "top right"
            });
          }
        })
        .catch(err => {
          throw err;
        });
    },

    sdkLoaded(payload) {
      this.isConnected = payload.isConnected;
      this.FB = payload.FB;
      if (this.isConnected) this.getUserData();
    },
    onLogin() {
      this.isConnected = true;
      this.getUserData();
    },
    getUserData() {
      this.FB.api(
        "/me",
        "GET",
        { fields: "id,name,email" },
        userInformation => {
          this.personalID = userInformation.id;
          this.email = userInformation.email;
          this.name = userInformation.name;
        }
      );
    },
    onSignInSuccess(googleUser) {
      const profile = googleUser.getBasicProfile();
    },
    onSignInError(error) {}
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors,
      success: state => state.auth.success
    })
  }
};
</script>
