
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <section class="user-profile py-5 bg-light">
      <div class="container">
        <div class="rider-dashbord">
          <div class="row">
            <div class="col-lg-3 col-md-5">
              <div class="side-tabs bg-blue border-style">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url(images/1p.jpeg);"></div>
                  </div>
                </div>
                <h4 class="text-center">Steven D.</h4>
                <br />
                <ul class="nav nav-tabs tabs-left">
                  <li>
                    <a href="#profile" data-toggle="tab" class="active show">
                      <i class="fa fa-user"></i> My Profile
                    </a>
                  </li>
                  <li>
                    <a href="#post" data-toggle="tab">
                      <i class="fa fa-file-text"></i> Post an ads
                    </a>
                  </li>
                  <li>
                    <a href="#files" data-toggle="tab">
                      <i class="fa fa-file-o"></i> My Reviewed Essays
                    </a>
                  </li>
                  <li>
                    <a href="#favrite" data-toggle="tab">
                      <i class="fa fa-heart"></i> My Favorites
                    </a>
                  </li>
                  <li>
                    <a href="#messages" data-toggle="tab">
                      <i class="fa fa-comment-o"></i> Messages
                    </a>
                  </li>
                  <li>
                    <a href="#payment" data-toggle="tab">
                      <i class="fa fa-credit-card"></i> Payment
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-unlock"></i> Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 col-md-7">
              <!-- Tab panes -->
              <div class="tab-content bg-blue border-style">
                <UserProfile></UserProfile>
                <div id="post" class="profile-edit tab-pane"></div>
                <div id="messages" class="profile-edit tab-pane bg-white p-3 chat-view">
                  <h3 class="card-subtitle mb-0">You have 4 new messages</h3>
                  <div class="message-box mt-2">
                    <div class="message-widget">
                      <a href="chat.php" target="_parent">
                        <div class="user-img">
                          <img src="images/1p.jpeg" alt="user" class="img-circle" />
                          <span class="profile-status online float-right"></span>
                        </div>
                        <div class="mail-contnet">
                          <h5>Pavan K.</h5>
                          <span
                            class="mail-desc"
                          >Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been.</span>
                          <div class="msg-time">
                            <span class="date text-orange">March 30, 2019</span> |
                            <span class="time text-orange">9:30 AM</span>
                          </div>
                        </div>
                      </a>

                      <a href="chat.php">
                        <div class="user-img">
                          <img src="images/1p.jpeg" alt="user" class="img-circle" />
                          <span class="profile-status busy float-right"></span>
                        </div>
                        <div class="mail-contnet">
                          <h5>Sonu N.</h5>
                          <span class="mail-desc">I've sung a song! See you at</span>
                          <div class="msg-time">
                            <span class="date text-orange">March 30, 2019</span> |
                            <span class="time text-orange">9:30 AM</span>
                          </div>
                        </div>
                      </a>

                      <a href="chat.php">
                        <div class="user-img">
                          <span class="round">A</span>
                          <span class="profile-status away float-right"></span>
                        </div>
                        <div class="mail-contnet">
                          <h5>Arijit S.</h5>
                          <span
                            class="mail-desc"
                          >Simply dummy text of the printing and typesetting industry.</span>
                          <div class="msg-time">
                            <span class="date text-orange">March 30, 2019</span> |
                            <span class="time text-orange">9:30 AM</span>
                          </div>
                        </div>
                      </a>

                      <a href="chat.php">
                        <div class="user-img">
                          <img src="images/1p.jpeg" alt="user" class="img-circle" />
                          <span class="profile-status offline float-right"></span>
                        </div>
                        <div class="mail-contnet">
                          <h5>Pavan K.</h5>
                          <span class="mail-desc">Just see the my admin!</span>
                          <div class="msg-time">
                            <span class="date text-orange">March 30, 2019</span> |
                            <span class="time text-orange">9:30 AM</span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div id="files" class="profile-edit tab-pane">
                  <div class="manager-resumes-item">
                    <div class="manager-content">
                      <a href="#">
                        <img class="resume-thumb" src="images/1p.jpeg" alt="user" />
                      </a>
                      <div class="manager-info">
                        <div class="manager-name">
                          <h4 class="text-orange">
                            <a href="#0">Ammy W.</a>
                          </h4>
                          <h5>
                            <span class="university-name">University Name</span> |
                            <span class="year-class text-orange">Class of 2015</span>
                          </h5>
                          <h5>
                            <span class="home-City">Home City</span>:
                            <span class="year-class text-orange">Callifornia</span> |
                            <span class="state">Home State</span>:
                            <span class="year-class text-orange">abc state</span>
                          </h5>
                          <span class="d-flex align-items-center">
                            <i class="ti-location-pin"></i> Service Booked:
                            <span class="label label-red ml-1">Essay Review</span>
                          </span>
                        </div>
                        <div class="manager-meta">
                          <div class="label label-primary d-inline-block">Completed</div>
                          <span class="font-family-regular">Amount to be Paid: $55</span>
                          <span class="location">
                            <i class="ti-location-pin"></i> Date Booked: February 24, 2020
                          </span>
                          <span class="location d-block">
                            <i class="ti-location-pin"></i> Requested Completion Date: March 2, 2020
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="item-body">
                      <div class="content pb-0 pt-0">
                        <div class="clearfix">
                          <div class="float-left">
                            <h3
                              class="text-orange border-bottom-0 pb-0 mt-2"
                            >Download Reviewed Essay</h3>
                          </div>
                        </div>
                        <a class="file-style my-files file-style2 bg-light" href="#">
                          <i class="fa fa-file-text"></i>
                        </a>
                      </div>
                      <div class="resume-skills">
                        <div class="resume-exp float-right default-form">
                          <a
                            href="#ratingmodal"
                            data-toggle="modal"
                            class="btn btn-danger rounded-pill"
                          >Rate Your Mentor</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="manager-resumes-item">
                    <div class="manager-content">
                      <a href="#">
                        <img class="resume-thumb" src="images/1p.jpeg" alt="user" />
                      </a>
                      <div class="manager-info">
                        <div class="manager-name">
                          <h4 class="text-orange">
                            <a href="#0">Edward C.</a>
                          </h4>
                          <h5>
                            <span class="university-name">University Name</span> |
                            <span class="year-class text-orange">Class of 2015</span>
                          </h5>
                          <h5>
                            <span class="home-City">Home City</span>:
                            <span class="year-class text-orange">Callifornia</span> |
                            <span class="state">Home State</span>:
                            <span class="year-class text-orange">abc state</span>
                          </h5>
                          <span class="d-flex align-items-center">
                            <i class="ti-location-pin"></i> Service Booked:
                            <span class="ml-1 label label-red">Essay Review</span>
                          </span>
                        </div>
                        <div class="manager-meta">
                          <div class="label label-primary d-inline-block">Completed</div>
                          <span class="font-family-regular">Amount to be Paid: $55</span>
                          <span class="location">
                            <i class="ti-location-pin"></i> Date Booked: February 24, 2020
                          </span>
                          <span class="location d-block">
                            <i class="ti-location-pin"></i> Requested Completion Date: March 2, 2020
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="item-body">
                      <div class="content pb-0 pt-0">
                        <div class="clearfix">
                          <div class="float-left">
                            <h3
                              class="text-orange border-bottom-0 pb-0 mt-2"
                            >Download Reviewed Essay</h3>
                          </div>
                        </div>
                        <a class="file-style my-files file-style2 bg-light" href="#">
                          <i class="fa fa-file-text"></i>
                        </a>
                      </div>
                      <div class="resume-skills">
                        <div class="resume-exp float-right default-form">
                          <a
                            href="#ratingmodal"
                            data-toggle="modal"
                            class="btn btn-danger rounded-pill"
                          >Rate Your Mentor</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="manager-resumes-item">
                    <div class="manager-content">
                      <a href="#">
                        <img class="resume-thumb" src="images/1p.jpeg" alt="user" />
                      </a>
                      <div class="manager-info">
                        <div class="manager-name">
                          <h4 class="text-orange">
                            <a href="#0">Mentor name</a>
                          </h4>
                          <h5>
                            <span class="university-name">University Name</span> |
                            <span class="year-class text-orange">Class of 2015</span>
                          </h5>
                          <h5>
                            <span class="home-City">Home City</span>:
                            <span class="year-class text-orange">Callifornia</span> |
                            <span class="state">Home State</span>:
                            <span class="year-class text-orange">abc state</span>
                          </h5>
                          <span class="d-flex align-items-center">
                            <i class="ti-location-pin"></i> Service Booked:
                            <span class="ml-1 label label-red">Phone Consultation</span>
                          </span>
                        </div>
                        <div class="manager-meta">
                          <div class="label label-primary d-inline-block">Completed</div>
                          <span class="font-family-regular">Amount to be Paid: $55</span>
                          <span class="location">
                            <i class="ti-location-pin"></i> Hours Booked: February 24, 2020
                          </span>
                          <span class="location d-block">
                            <i class="ti-location-pin"></i> Requested Completion Date: March 2, 2020
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="item-body">
                      <div class="content pb-0 pt-0">
                        <div class="clearfix">
                          <div class="float-left">
                            <h3
                              class="text-orange border-bottom-0 pb-0 mt-2"
                            >Download Reviewed Essay</h3>
                          </div>
                        </div>
                        <a class="file-style my-files file-style2 bg-light" href="#">
                          <i class="fa fa-file-text"></i>
                        </a>
                      </div>
                      <div class="resume-skills">
                        <div class="resume-exp float-right default-form">
                          <a
                            href="#ratingmodal"
                            data-toggle="modal"
                            class="btn btn-danger rounded-pill"
                          >Rate Your Mentor</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="favorite" class="profile-edit tab-pane">
                  <div class="manager-resumes-item">
                    <div class="manager-content">
                      <a href="#">
                        <img class="resume-thumb" src="images/1p.jpeg" alt="user" />
                      </a>
                      <div class="manager-info">
                        <div class="manager-name">
                          <h4>
                            <a href="#">Bikesh Soltaniane</a>
                          </h4>
                          <h5>
                            <span class="university-name">University Name</span> |
                            <span class="year-class text-orange">Class of 2015</span>
                          </h5>
                          <div class="author-rating mt-1 mb-1">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span>(4.5 Stars)</span>
                          </div>
                        </div>
                        <div class="manager-meta">
                          <a href="#0" class="select-favourite text-orange">
                            <i class="fa fa-heart-o"></i>
                          </a>
                          <span class="rate">
                            <i class="ti-time"></i> $ 55 per Hour Call
                          </span>
                          <span class="rate">
                            <i class="ti-time"></i> $ 55 per Essay
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="item-body">
                      <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, qui aspernatur accusantium! Molestiae, cum cupiditate nam optio dignissimos magnam velit, perspiciatis amet qui aut nobis, quisquam, laudantium vitae eos ipsam.</p>
                      </div>
                      <div class="resume-skills">
                        <div class="tag-list float-left">
                          <span>Keywords 1</span>
                          <span>Keywords 2</span>
                          <span>Keywords 3</span>
                          <span>Keywords 4</span>
                        </div>
                        <div class="resume-exp float-right default-form">
                          <a href="#" class="theme-btn">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="manager-resumes-item">
                    <div class="manager-content">
                      <a href="#">
                        <img class="resume-thumb" src="images/1p.jpeg" alt="user" />
                      </a>
                      <div class="manager-info">
                        <div class="manager-name">
                          <h4>
                            <a href="#">Bikesh Soltaniane</a>
                          </h4>
                          <h5>
                            <span class="university-name">University Name</span> |
                            <span class="year-class text-orange">Class of 2015</span>
                          </h5>
                          <div class="author-rating mt-1 mb-1">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span>(4.5 Stars)</span>
                          </div>
                        </div>
                        <div class="manager-meta">
                          <a href="#0" class="select-favourite text-orange">
                            <i class="fa fa-heart-o"></i>
                          </a>
                          <span class="rate">
                            <i class="ti-time"></i> $55 per Hour Call
                          </span>
                          <span class="rate">
                            <i class="ti-time"></i> $55 per Essay
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="item-body">
                      <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, qui aspernatur accusantium! Molestiae, cum cupiditate nam optio dignissimos magnam velit, perspiciatis amet qui aut nobis, quisquam, laudantium vitae eos ipsam.</p>
                      </div>
                      <div class="resume-skills">
                        <div class="tag-list float-left">
                          <span>Keywords 1</span>
                          <span>Keywords 2</span>
                          <span>Keywords 3</span>
                          <span>Keywords 4</span>
                        </div>
                        <div class="resume-exp float-right default-form">
                          <a href="#" class="theme-btn">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="manager-resumes-item">
                    <div class="manager-content">
                      <a href="#">
                        <img class="resume-thumb" src="images/1p.jpeg" alt="user" />
                      </a>
                      <div class="manager-info">
                        <div class="manager-name">
                          <h4>
                            <a href="#">Bikesh Soltaniane</a>
                          </h4>
                          <h5>
                            <span class="university-name">University Name</span> |
                            <span class="year-class text-orange">Class of 2015</span>
                          </h5>
                          <div class="author-rating mt-1 mb-1">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span>(4.5 Stars)</span>
                          </div>
                        </div>
                        <div class="manager-meta">
                          <a href="#0" class="select-favourite text-orange">
                            <i class="fa fa-heart-o"></i>
                          </a>
                          <span class="rate">
                            <i class="ti-time"></i> $55 per Hour Call
                          </span>
                          <span class="rate">
                            <i class="ti-time"></i> $55 per Essay
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="item-body">
                      <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, qui aspernatur accusantium! Molestiae, cum cupiditate nam optio dignissimos magnam velit, perspiciatis amet qui aut nobis, quisquam, laudantium vitae eos ipsam.</p>
                      </div>
                      <div class="resume-skills">
                        <div class="tag-list float-left">
                          <span>Keywords 1</span>
                          <span>Keywords 2</span>
                          <span>Keywords 3</span>
                          <span>Keywords 4</span>
                        </div>
                        <div class="resume-exp float-right default-form">
                          <a href="#" class="theme-btn">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="settings" class="profile-edit tab-pane bg-white p-3">
                  <h3>Update Profile</h3>
                  <h2 class="heading-md">Update Name, ID and Email Addresses.</h2>
                  <p>
                    Below are the name and email addresses on file for your
                    account.
                  </p>
                  <div class="default-form">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" name="username" />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input type="text" name="username" v-model="first_name" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="control-label">E-mail Address</label>
                            <input type="text" name="email" required />
                            <span
                              class="font-weight-light text-orange"
                            >Please use your student or alumni university e-mail address</span>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group mb-4">
                            <label class="control-label">Phone Number</label>
                            <input type="text" name="Password" required />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group mb-4">
                            <label class="control-label">City</label>
                            <input type="text" name="City" required />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group mb-4">
                            <label class="control-label">High School Name</label>
                            <input type="text" name="Password" required />
                          </div>
                        </div>
                        <div class="col-md-12 default-form">
                          <div class="text-center mt-4">
                            <a class="theme-btn px-4 h-auto w-auto" href="#">Save Changes</a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import UserProfile from "@/components/UserProfile";
export default {
  name: "postAd",
  components: {
    UserProfile
  }
};
</script>