
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <div class="container">
      <div id="tg-content" class="tg-content clearfix">
        <div class="tg-contactarea">
          <div class="row">
            <div class="col-lg-12">
              <div class="terms-outer">
                <h4 class="extra-title">Privacy &amp; Policy</h4>
                <div class="border-bottom custom-bottom"></div>
                <div class="advanced-content">
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantet quasi architecto beatae vitae dicta
                    sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt.
                  </p>
                  <p>Sed udolores eos qui ratione voluptatem sequi nesciunt.</p>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab ill sit aspernatur aut odit aut
                    fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt.
                  </p>
                  <hr />
                  <h5>Subscriptions</h5>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt.
                  </p>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem dicta sunt explicabo. Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi
                    nesciunt..
                  </p>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem dolores eos qui ratione voluptatem sequi
                    nesciunt.
                  </p>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt..
                  </p>
                  <h5>Free Trial</h5>
                  <p>
                    Se sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt.
                  </p>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt.
                  </p>
                  <p>
                    At any time and without notice, Kwaetus Ltd reserves the
                    right to (i) modify the terms and conditions of the Free
                    Trial offer, or (ii) cancel such Free Trial offer.
                  </p>
                  <hr />
                  <h5>Fee Changes</h5>
                  <p>
                    Sed Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                    aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt.
                  </p>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                    odit aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt.
                  </p>
                  <p>
                    Your continued use of the Service after the Subscription fee
                    change comes into effect constitutes your agreement to pay
                    the modified Subscription fee amount.
                  </p>
                  <hr />
                  <h5>Refunds</h5>
                  <p>
                    Certain refund requests for Subscriptions may be considered
                    by on a case-by-case basis and granted in sole discretion
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa qt.
                  </p>
                  <hr />
                  <h5>Accounts</h5>
                  <p>
                    When you create an account with us, you must provide us
                    information that is accurate, complete, and current at all
                    times. Failure to do so constitutes a breach of the Terms,
                    which may result in immediate termination of your account on
                    our Service.
                  </p>
                  <p>
                    You are responsible for safeguarding the password that you
                    use to access the Service and for any activities or actions
                    under your password, whether your password is with our
                    Service or a third-party service.
                  </p>
                  <p>
                    You agree not to disclose your password to any third party.
                    You must notify us immediately upon becoming aware of any
                    breach of security or unauthorized use of your account.
                  </p>
                  <p>
                    You may not use as a username the name of another person or
                    entity or that is not lawfully available for use, a name or
                    trade mark that is subject to any rights of another person
                    or entity other than you without appropriate authorization,
                    or a name that is otherwise offensive, vulgar or obscene.
                    You expressly agree that we cannot be held liable for any
                    loss or damage arising out of any misrepresentations you
                    make in this regard.
                  </p>
                  <hr />
                  <h5>Privacy Policy and Cookie Policy</h5>
                  <p>
                    Please refer to our Privacy Policy and Cookies Policy. You
                    agree that they constitute part of these terms. You must
                    read our Privacy Policy and Cookies Policy before you use
                    the Service.
                  </p>
                  <hr />
                  <h5>Contact Us</h5>
                  <p>
                    If you have any questions about these Terms, please contact
                    us.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
export default {
  name: "privacyPolicy"
};
</script>
