
<template>
  <main id="tg-main" class="tg-main tg-haslayout pt-73">
    <div class="container">
      <div class="row">
        <div id="tg-content" class="tg-content">
          <div class="tg-loginsignup">
            <div class="offset-lg-3 col-lg-6">
              <div class="tg-logingarea clearfix">
                <h2>Sign Up Account</h2>
                <!-- <ul v-if="errors" class="invalid-feedback">
                  <li :key="k">{{ errors }}</li>
                </ul>
                <ul v-if="success" class="error-messages">
                  <li :key="k">{{ success }}</li>
                </ul>-->
                <form id="register-form" class="tg-formtheme tg-formloging clearfix">
                  <fieldset>
                    <div class="form-group">
                      <input
                        type="text"
                        v-model="user.first_name"
                        id="first_name"
                        name="first_name"
                        class="form-control"
                        placeholder="First Name"
                        :class="{
                          'is-invalid': submitted && $v.user.first_name.$error
                        }"
                      />
                      <div v-if="submitted && !$v.user.first_name.error" class="invalid-feedback">
                        <span v-if="!$v.user.first_name.required">First Name is required</span>
                        <span v-if="!$v.user.first_name.alpha">First name is invalid.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        v-model="user.middle_name"
                        id="middle_name"
                        name="middle_name"
                        class="form-control"
                        placeholder="Middle Name"
                        :class="{
                          'is-invalid': submitted && $v.user.middle_name.$error
                        }"
                      />
                      <div v-if="submitted && !$v.user.middle_name.error" class="invalid-feedback">
                        <span v-if="!$v.user.middle_name.alpha">Middle name is invalid.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        v-model="user.last_name"
                        id="last_name"
                        name="last_name"
                        class="form-control"
                        placeholder="Last Name"
                        :class="{
                          'is-invalid': submitted && $v.user.last_name.$error
                        }"
                      />

                      <div v-if="submitted && !$v.user.last_name.error" class="invalid-feedback">
                        <span v-if="!$v.user.last_name.required">Last Name is required</span>
                        <span v-if="!$v.user.last_name.alpha">Last name is invalid.</span>
                      </div>

                      <div v-if="submitted && !$v.user.last_name.required" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                      <VuePhoneNumberInput
                        v-model="user.phone"
                        :error="hasErrorActive"
                        maxlength="15"
                      />
                      <span v-if="submitted && $v.user.password.$error" class="invalid-feedbacks">
                        <span
                          v-if="submitted && !$v.user.phone.required"
                          class="invalid-feedback"
                        >Phone Number is required</span>
                        <span
                          v-if="submitted && !$v.user.phone.maxLength"
                          class="invalid-feedbacks"
                        >Minimum length is 15</span>
                      </span>
                    </div>
                    <div class="form-group">
                      <input
                        type="email"
                        v-model="user.email"
                        id="email"
                        name="email"
                        placeholder="Email"
                        class="form-controlS"
                        :class="{
                          'is-invalid': submitted && $v.user.email.$error
                        }"
                      />
                      <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                        <span v-if="!$v.user.email.required">Email is required</span>
                        <span v-if="!$v.user.email.email">Email is invalid</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        v-model="user.password"
                        id="password"
                        name="password"
                        placeholder="Password"
                        class="form-control"
                        :class="{
                          'is-invalid': submitted && $v.user.password.$error
                        }"
                      />
                      <div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
                        <span v-if="!$v.user.password.required">Password is required</span>
                        <span
                          v-if="!$v.user.password.minLength"
                        >Password must be at least 6 characters</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        v-model="user.confirmPassword"
                        id="confirmPassword"
                        name="confirmPassword"
                        placeholder="Confirm Password"
                        class="form-control"
                        :class="{
                          'is-invalid':
                            submitted && $v.user.confirmPassword.$error
                        }"
                      />
                      <div
                        v-if="submitted && $v.user.confirmPassword.$error"
                        class="invalid-feedback"
                      >
                        <span v-if="!$v.user.confirmPassword.required">Confirm Password is required</span>
                        <span
                          v-else-if="!$v.user.confirmPassword.sameAsPassword"
                        >Passwords must match</span>
                      </div>
                    </div>
                    <div class="form-group mb-0 my-4 clearfix">
                      <div class="tg-checkbox signup-checkbox">
                        <input
                          id="tg-rememberme"
                          type="checkbox"
                          @change="$v.terms.$touch()"
                          v-model="terms"
                          name="rememberme"
                          :class="{ invalid: $v.terms.$invalid }"
                        />
                        <label for="tg-rememberme">
                          By clicking 'Register now!' I agree to WEBSITE’s Terms
                          &amp; Conditions and accept the Privacy Policy.
                        </label>
                      </div>
                      <div v-if="submitted && $v.terms.$invalid" class="invalid-feedback">
                        <span v-if="$v.terms.$invalid">Please accept Terms and Conditions</span>
                      </div>
                    </div>
                    <button
                      class="tg-btn btn-block"
                      type="button"
                      @click.prevent="onSubmit(user)"
                    >Sign Up</button>
                  </fieldset>
                </form>
                <hr class="clearfix mt-4" />
                <div class="register text-center">
                  Already the part of Smart Ads.
                  <router-link class="navbar-brand" :to="{ name: 'login' }">Login</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapState } from "vuex";
import { REGISTER } from "@/store/actions.type";
import VueToast from "vue-toast-notification";
import VuePhoneNumberInput from "vue-phone-number-input";
import "vue-phone-number-input/dist/vue-phone-number-input.css";
import {
  required,
  email,
  minLength,
  sameAs,
  alpha,
  maxLength
} from "vuelidate/lib/validators";

export default {
  name: "RwvRegister",
  data() {
    return {
      user: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
        password: "",
        confirmPassword: "",
        phone: ""
      },
      terms: false,
      hasErrorActive: false,
      submitted: false
    };
  },
  components: {
    VuePhoneNumberInput
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors,
      success: state => state.auth.success
    })
  },
  validations: {
    user: {
      first_name: { required, alpha },
      middle_name: { alpha },
      last_name: { required, alpha },
      email: { required, email },
      password: { required, minLength: minLength(6) },
      confirmPassword: { required, sameAsPassword: sameAs("password") },
      phone: { required, maxLength: maxLength(15) }
    },
    terms: {
      sameAs: sameAs(() => true)
    }
  },
  methods: {
    selectedRoute(val) {
      return val;
    },
    onSubmit(user) {
      const {
        first_name,
        middle_name,
        last_name,
        email,
        password,
        phone
      } = user;

      this.submitted = true;

      // stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid || phone === "") {
        this.hasErrorActive = true;
        return;
      }
      this.hasErrorActive = false;

      //submit form to backend
      this.$store
        .dispatch(REGISTER, {
          first_name: first_name,
          middle_name: middle_name,
          last_name,
          email,
          password,
          phone
        })
        .then(response => {
          if (response.success) {
            this.$toast.success({
              title: response.message,
              message: "",
              position: "top right"
            });
            setTimeout(() => {
              this.$router.push("Login");
            }, 1000);
          } else {
            this.$toast.error({
              title: response.message,
              message: "",
              position: "top right"
            });
          }
        });
    }
  }
};
</script>
