<template>
  <div>
    <div id="tg-homebanner" class="tg-homebanner tg-haslayout">
      <figure class="item-new">
        <figcaption>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-bannercontent">
                  <form class="tg-formtheme tg-formbannersearch">
                    <fieldset>
                      <div class="form-group tg-inputwithicon">
                        <i class="icon-bullhorn"></i>
                        <input
                          id="title"
                          type="text"
                          v-model="user.title"
                          name="title"
                          class="form-control"
                          placeholder="What are you looking for"
                          :class="{
                            'is-invalid': submitted && $v.user.title.$error
                          }"
                        />
                        <div v-if="submitted && $v.user.title.$error" class="invalid-feedback"></div>
                      </div>
                      <div class="form-group tg-inputwithicon">
                        <i class="icon-location"></i>
                        <a
                          class="tg-btnsharelocation fa fa-crosshairs"
                          href="#"
                          v-on:click="getLocation(user.location)"
                        ></a>
                        <input
                          type="text"
                          id="location"
                          v-model="user.location"
                          name="location"
                          class="form-control"
                          value="user.location"
                          placeholder="Your Location"
                          :class="{
                            'is-invalid': submitted && $v.user.location.$error
                          }"
                        />
                        <div v-if="submitted && $v.user.location.$error" class="invalid-feedback"></div>
                      </div>
                      <div class="form-group tg-inputwithicon">
                        <i class="icon-layers"></i>
                        <div class="tg-select">
                          <select
                            v-model="user.category"
                            name="category"
                            id="category"
                            :class="{
                              'is-invalid': submitted && $v.user.category.$error
                            }"
                          >
                            <option value>Select Category</option>
                            <option v-for="item in selected" v-bind:key="item">{{ item }}</option>
                          </select>
                        </div>
                      </div>
                      <div v-if="submitted && $v.user.category.$error" class="invalid-feedback"></div>
                      <button
                        class="tg-btn"
                        @click.prevent="onSubmit(user)"
                        type="button"
                      >Search Now</button>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</template>

<script>
import { SEARCH } from "@/store/actions.type";
import VueToast from "vue-toast-notification";
import { required, title, category } from "vuelidate/lib/validators";
import { mapGetters, mapState } from "vuex";

export default {
  name: "search",
  data() {
    return {
      user: {
        title: "",
        location: "",
        category: ""
      },
      terms: false,
      hasErrorActive: false,
      submitted: false,
      selected: [
        "Mobiles",
        "Electronics",
        "Vehicles",
        "Bikes",
        "Animals",
        "Furniture",
        "toys"
      ]
    };
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors,
      success: state => state.auth.success
    })
  },
  validations: {
    user: {
      title: { required },
      location: { required },
      category: { required }
    }
  },
  methods: {
    onSubmit(user) {
      const { title, location, category } = user;
      this.submitted = true;

      //stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$toast.error({
          title: "All Fields Are Required",
          message: "",
          position: "top-right"
        });
        this.hasErrorActive = true;
        return;
      }
      this.hasErrorActive = false;
      this.$router.push({
        name: "searchResult",
        params: {
          title: user.title,
          location: user.location,
          category: user.category
        }
      });
    }
    // getLocation() {
    //   navigator.geolocation.getCurrentPosition(position => {
    //     let reverseGeocodingParameters = {
    //       prox: position.coords.latitude + "," + position.coords.longitude, // not literaly that, but the real values
    //       mode: "retrieveAddresses",
    //       maxresults: 1
    //     };

    //     this.user.location =
    //       position.coords.latitude + "," + position.coords.longitude;

    //     this.user.location = location.Address.Label;
    //   });
    // }
  }
};
</script>
