
<template>
  <div>
    <search></search>
    <main id="tg-main" class="tg-main tg-haslayout">
      <div class="tg-breadcrumbarea">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ol class="tg-breadcrumb">
                <li>
                  <a href="#">Home</a>
                </li>
                <li class="tg-active">ad listing list</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div id="tg-content" class="tg-content pt-4 clearfix">
        <div class="container">
          <div class="tg-contenthead">
            <div class="tg-sortandview mb-4">
              <div class="row">
                <div class="tg-ads tg-adsvtwo tg-adslist listing-page">
                  <div v-if="products.length" class="row">
                    <div
                      v-for="item in products"
                      :key="item._id"
                      class="col-sm-12 col-md-12 col-lg-12"
                    >
                      <div class="tg-ad tg-verifiedad listing-ad-neww">
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="tg-sortby">
                              <strong>Sort by:</strong>
                              <div class="tg-select">
                                <select>
                                  <option value="Most Recent">Most Recent</option>
                                  <option value="Most Recent">Most Recent</option>
                                  <option value="Most Recent">Most Recent</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-5">
                            <div class="float-right mobile-fl-rt">
                              <button
                                type="button"
                                class="btn btn-light custom-light-btn"
                              >Tag Filter</button>
                              <button
                                type="button"
                                class="btn btn-light custom-light-btn"
                              >Tag Filter</button>
                              <button
                                type="button"
                                class="btn btn-light custom-light-btn"
                              >Tag Filter</button>
                              <button
                                type="button"
                                class="btn btn-light custom-light-btn"
                              >Tag Filter</button>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="tg-views mb-2 clearfix">
                              <div>
                                <strong>View As Grid</strong>
                                <ul>
                                  <li class="tg-active">
                                    <a href="#0">
                                      <i class="fa fa-th-large"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#0">
                                      <i class="fa fa-reorder"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="tg-views">
                              <div>
                                <strong>Show on map</strong>
                                <a href="#0">
                                  <img width="30px" src="./../assets/images/df.png" alt="img" />
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-5 pr-0 pr-lg-1">
                            <figure>
                              <div class="grid-widget grid-widget--listings">
                                <div
                                  v-if="item.photos.length >= 1"
                                  id="demo-1"
                                  class="carousel slide"
                                  data-ride="carousel"
                                >
                                  <carousel
                                    :autoplay="true"
                                    :nav="false"
                                    :responsive="{
                                      0: { items: 1 },
                                      600: { items: 1 },
                                      1000: { items: 1 }
                                    }"
                                  >
                                    <div
                                      v-for="(pic, index) in item.photos"
                                      :key="index"
                                      class="carousel-item item clearfix active"
                                    >
                                      <span class="numbering-new">{{ index + 1 }}</span>
                                      <img class="one_img" :src="BackendUrl + pic.name" alt="img" />
                                    </div>
                                    <template slot="prev">
                                      <span class="prev">prev</span>
                                    </template>
                                    <template slot="next">
                                      <span class="next">next</span>
                                    </template>
                                  </carousel>
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div class="col-lg-8 col-7 pl-0 pl-lg-2">
                            <router-link :to="'/item/' + item._id">
                              <div class="tg-adcontent">
                                <ul class="tg-admetadata clearfix mb-lg-2">
                                  <li>For Sale</li>
                                  <li>2 bedrooms</li>
                                  <li>5° Floor</li>
                                  <li>No agency</li>
                                </ul>
                                <div class="tg-adtitle mb-1">
                                  <h3>
                                    <a href="#0">{{ item.title }}</a>
                                  </h3>
                                  <p>{{ item.description }}</p>
                                </div>
                                <div class="row">
                                  <div class="col-md-8">
                                    <ul class="tg-admetadata clearfix mb-lg-2">
                                      <li>{{ item.category }}</li>
                                      <li>{{ item.city_of_the_ad }}</li>
                                      <li>{{ item.city_of_the_ad }}</li>
                                    </ul>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="tg-adprice py-0 text-right">
                                      <h4 class="color-purple">Rs {{ item.price }}</h4>
                                    </div>
                                  </div>
                                </div>
                                <div class="tg-phonelike">
                                  <a class="tg-btnphone" href="#0">
                                    <i class="icon-phone-handset"></i>
                                    <span
                                      data-toggle="tooltip"
                                      data-placement="top"
                                      title="Show Phone No."
                                      data-last="0800 - 1234 - 562 - 6"
                                    >
                                      <em>Show Phone No.</em>
                                    </span>
                                  </a>
                                  <span class="tg-like tg-liked">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                </div>
                              </div>
                            </router-link>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-else>No products found</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { SEARCH, PRODUCTS } from "@/store/actions.type";
import carousel from "vue-owl-carousel";
import search from "@/components/Search";
import { API_URL } from "@/common/config";

export default {
  name: "searchResult",
  data() {
    return {
      user: {
        title: "",
        location: "",
        category: ""
      },
      products: {},
      categories: {},
      BackendUrl: API_URL,
      terms: false,
      hasErrorActive: false,
      submitted: false,
      selected: [
        "Mobiles",
        "Electronics",
        "Vehicles",
        "Bikes",
        "Animals",
        "Furniture",
        "toys"
      ]
    };
  },
  components: {
    carousel,
    search
  },
  methods: {
    // getLocation() {
    //   navigator.geolocation.getCurrentPosition(position => {
    //     let reverseGeocodingParameters = {
    //       prox: position.coords.latitude + "," + position.coords.longitude, // not literaly that, but the real values
    //       mode: "retrieveAddresses",
    //       maxresults: 1
    //     };
    //     this.user.location =
    //       position.coords.latitude + "," + position.coords.longitude;
    //     this.user.location = location.Address.Label;
    //   });
    // },
  },
  props: ["title", "location", "category"],
  mounted() {
    this.$store
      .dispatch(
        PRODUCTS,
        "?title=" +
          this.title +
          "&location=" +
          this.location +
          "&category=" +
          this.category
      )
      .then(data => {
        this.products = data.data.result;
      });
  }
};
</script>
