
<template>
  <footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="tg-footerinfo">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
            <div class="tg-widget tg-widgetsearchbylocations">
              <div class="tg-widgettitle">
                <h3>Search By Locations:</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul>
                  <li>
                    <a href="#0">- Aberdeen</a>
                  </li>
                  <li>
                    <a href="#0">- Armagh</a>
                  </li>
                  <li>
                    <a href="#0">- Bangor</a>
                  </li>
                  <li>
                    <a href="#0">- Bath</a>
                  </li>
                  <li>
                    <a href="#0">- Belfast</a>
                  </li>
                  <li>
                    <a href="#0">- Birmingham</a>
                  </li>
                  <li>
                    <a href="#0">- Bradford</a>
                  </li>
                  <li>
                    <a href="#0">- Brighton and Hove</a>
                  </li>
                  <li>
                    <a href="#0">- Bristol</a>
                  </li>
                  <li>
                    <a href="#0">- Cambridge</a>
                  </li>
                </ul>
                <ul>
                  <li>
                    <a href="#0">- Canterbury</a>
                  </li>
                  <li>
                    <a href="#0">- Cardiff</a>
                  </li>
                  <li>
                    <a href="#0">- Carlisle</a>
                  </li>
                  <li>
                    <a href="#0">- Chester</a>
                  </li>
                  <li>
                    <a href="#0">- Chichester</a>
                  </li>
                  <li>
                    <a href="#0">- City of London</a>
                  </li>
                  <li>
                    <a href="#0">- Coventry</a>
                  </li>
                  <li>
                    <a href="#0">- Derby</a>
                  </li>
                  <li>
                    <a href="#0">- Dundee</a>
                  </li>
                  <li>
                    <a href="#0">View All</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="tg-widget tg-widgettext">
              <div class="tg-widgetcontent">
                <strong class="tg-logo">
                  <router-link class="navbar-brand" :to="{ name: 'home' }">
                    <img
                      width="100px"
                      src="./../assets/images/logo1.png"
                      alt="image"
                    />
                  </router-link>
                </strong>
                <div class="tg-description">
                  <p>
                    Consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua anii ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo aute irurel in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla.
                  </p>
                </div>
                <div class="tg-followus">
                  <strong>Follow Us:</strong>
                  <ul class="tg-socialicons">
                    <li class="tg-facebook">
                      <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="tg-twitter">
                      <a href="https://twitter.com/" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="tg-linkedin">
                      <a
                        href="https://www.linkedin.com/company/linkedin"
                        target="_blank"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="tg-googleplus">
                      <a href="#0">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <nav class="tg-footernav">
                  <ul>
                    <li>
                      <router-link exact :to="{ name: 'about' }"
                        >About</router-link
                      >
                    </li>
                    <li>
                      <router-link exact :to="{ name: 'contact' }"
                        >Contact</router-link
                      >
                    </li>
                    <li>
                      <router-link exact :to="{ name: 'terms' }"
                        >Terms of Use</router-link
                      >
                    </li>
                    <li>
                      <router-link exact :to="{ name: 'privacyPolicy' }"
                        >Privacy Policy</router-link
                      >
                    </li>
                    <li>
                      <router-link exact :to="{ name: 'blog' }"
                        >Blog</router-link
                      >
                    </li>
                    <li>
                      <a href="#0">News</a>
                    </li>
                  </ul>
                </nav>
                <span class="tg-copyright"
                  >2020 All Rights Reserved &copy; Smart Ads</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "RwvFooter"
};
</script>
