/*
 ©2020 Ozvid Technologies Pvt. Ltd. All Rights Reserved.Hosted by jiWebHosting.com
*/
@media (max-width:1440px) {
    .tg-qualityservices .tg-textshortcode {
        padding: 66px 25% 66px 60px;
    }
}

@media (max-width:1366px) {
    .tg-qualityservices .tg-textshortcode {
        padding: 66px 22% 66px 60px;
    }
}

@media (max-width:1280px) {
    .tg-qualityservices .tg-textshortcode {
        padding: 66px 18% 66px 60px;
    }
}

@media (max-width:1199px) {
    .tg-multiimg .ipad-none {
        display: none;
    }

    .tg-imgshortcode {
        float: initial;
    }

    .navbar-expand-xl .navbar-nav.post-block {
        display       : flex;
        flex-direction: row;
        margin-right  : auto;
        align-items   : center;
        margin-right  : 0;
    }

    .search-area {
        top: 82px;
    }

    .tg-adsvtwo figure img {
        height    : 170px;
        object-fit: cover;
    }

    .tg-adsvtwo.tg-adslist figure img {
        height    : 168px !important;
        object-fit: cover;
    }

    .social-header-link {
        flex-direction : initial !important;
        justify-content: center !important;
        margin-top     : 20px;
    }

    .social-header-link .nav-item {
        border: none;
    }

    .tg-logo {
        margin: 4px 70px 3px 0;
    }

    .tg-homebannervtwo .container {
        width: 100%;
    }

    .tg-textshortcode .tg-btnbox .tg-btn {
        padding: 0 38px;
    }

    .tg-qualityservices .tg-textshortcode {
        padding: 66px 11.9% 66px 60px;
    }

    .tg-adslist .tg-adprice {
        padding: 0;
    }

    .tg-adslist .tg-adcontent address {
        margin: 5px 0 0;
    }

    .tg-adslist .tg-phonelike {
        float : left;
        clear : both;
        margin: 12px 0 0;
    }

    .tg-formregister .tg-checkbox label {
        font-size: 14px;
    }

    .tg-forgetpassword {
        float : right;
        margin: 5px 0 0;
    }

    .tg-postslist .tg-posttitle h3 a {
        width           : 100%;
        display         : block;
        overflow        : hidden;
        white-space     : nowrap;
        -o-text-overflow: ellipsis;
        text-overflow   : ellipsis;
    }

    .tg-postslist .tg-postcontent .tg-description p {
        font-size: 14px;
    }

    .tg-postslist .tg-post figure {
        width: 100%;
    }

    .tg-postslist .tg-postcontent {
        width  : 100%;
        float  : left;
        padding: 30px 0 0;
    }

    .tg-posttitle h1 {
        font-size  : 22px;
        line-height: 22px;
    }

    .tg-author .tg-authorcontent .tg-boxright {
        float  : left;
        padding: 15px 0 0;
    }

    .tg-comments .tg-authorcontent .tg-boxright {
        float: right;
    }

    .tg-child {
        padding: 20px 0 0;
    }

    .tg-404content {
        padding: 0 10%;
    }

    .tg-sellercontact .tg-btnphone,
    .tg-btnmakeanoffer {
        padding: 0 0 0 27px;
    }

    .tg-sellercontact .tg-btnphone i,
    .tg-btnmakeanoffer i {
        width      : 18px;
        line-height: 30px;
    }

    .tg-sellercontact .tg-btnphone span em,
    .tg-btnmakeanoffer>span em {
        padding: 0;
    }

    .tg-sellercontact .tg-btnphone>span,
    .tg-sellercontact .tg-btnphone>span,
    .tg-sellercontact .tg-btnphone>span,
    .tg-btnmakeanoffer>span {
        padding: 0;
    }

    .tg-adtitle h2 {
        font-size  : 20px;
        line-height: 25px;
    }

    .tg-priceandlastupdate span:first-child {
        font-size  : 18px;
        line-height: 20px;
    }

    .tg-priceandlastupdate {
        padding: 5px 0 0 15px;
    }

    .tg-priceandlastupdate span {
        font-size  : 11px;
        line-height: 15px;
        font-weight: bold;
    }

    .tg-sellercontact .tg-btnphone span em,
    .tg-btnmakeanoffer>span em {
        font-size  : 15px;
        line-height: 15px;
    }

    .tg-sellercontact .tg-btnphone span span,
    .tg-btnmakeanoffer>span span {
        font-size  : 12px;
        line-height: 14px;
    }

    .tg-admetadata li {
        padding: 0 4px;
    }

    .tg-footernav ul {
        font-size: 12px;
    }

    .tg-footernav ul li {
        padding: 0 8px;
    }
}

@media (max-width:1080px) {
    .tg-qualityservices .tg-textshortcode {
        padding: 53px 6% 53px 30px;
    }
}

@media (max-width:991px) {
    .tg-home.tg-homeone.stickys .navbar {
        padding: 0 10px;
    }

    .tg-views ul li a {
        width        : 26px;
        display      : block;
        font-size    : 12px;
        overflow     : hidden;
        line-height  : 26px;
        text-align   : center;
        border-radius: 16px;
    }

    .tg-views strong {
        color      : #666666;
        font-size  : 12px;
        line-height: 40px;
        padding    : 0 4px 0 0;
    }

    .tg-views {
        width       : 48% !important;
        padding     : 20px 0 0;
        float       : left;
        margin-right: 6px;
    }

    .float-right.mobile-fl-rt {
        float     : left !important;
        margin-top: 15px;
    }

    .tg-productcagegories {
        width        : 100%;
        float        : left;
        font-size    : 14px;
        line-height  : 18px;
        list-style   : none;
        margin       : 0 0 10px;
        padding      : 10px 0 5px;
        border-bottom: 1px solid #dbdbdb;
    }

    .tg-adprice h4 {
        font-size  : 16px;
        line-height: 14px;
    }

    .tg-ad {
        width        : 100%;
        padding      : 5px;
        margin       : 15px 0;
        background   : #fff;
        border-radius: 5px;
    }

    .tg-adprice {
        width  : 100%;
        float  : left;
        padding: 10px 0 6px;
    }

    .tg-adcontent address {
        padding  : 1px 0 0 14px;
        font-size: 12px;
    }

    .tg-sectionspace {
        padding: 51px 0 30px;
    }

    .tg-adtitle h3 {
        font-size: 13px;
    }

    .tg-navigationarea .tg-btn {
        padding: 0 20px;
    }

    .tg-logo {
        width : 80px;
        margin: 0;
    }

    .tg-navigation>ul>li {
        padding: 13px 12px;
    }

    .tg-formbannersearch fieldset {
        padding: 0;
    }

    .tg-formbannersearch .form-group {
        width: 50%;
    }

    .tg-formbannersearch .tg-btn {
        padding   : 0;
        width     : 50%;
        position  : relative;
        border-top: 1px solid #dbdbdb;
    }

    .tg-homebannervtwo .tg-formbannersearch .tg-btn {
        border: 0;
        margin: 10px 0 0;
    }

    .tg-homebannervtwo .tg-formbannersearch fieldset {
        padding: 0;
    }

    .tg-formbannersearch .form-group:nth-child(3) {
        border-left: 0;
        border-top : 1px solid #dbdbdb;
    }

    .tg-features li {
        width: 50%;
    }

    .tg-team {
        width: 25%;
    }

    .tg-imgshortcode.tg-multiimg {
        padding: 30px 0 0;
    }

    .tg-imgshortcode.tg-multiimg figure {
        width: 100%;
    }

    .ipad-none {
        display: none;
    }

    .tg-imgshortcode {
        float: initial;
    }

    .tg-imgshortcode.tg-multiimg figure img {
        width  : 100%;
        height : auto;
        display: block;
    }

    .tg-imgshortcode.tg-multiimg figure:nth-child(2) {
        padding: 0 0 20px;
    }

    .tg-imgshortcode.tg-multiimg figure:nth-child(3) {
        padding: 0;
    }

    .tg-formregister {
        margin: 0 0 40px;
    }

    .tg-statistics li h4 {
        font-size  : 18px;
        line-height: 18px;
    }

    .tg-views {
        width  : 100%;
        padding: 20px 0 0;
    }

    .tg-posts {
        margin: -15px 0;
    }

    .tg-post {
        padding: 15px 0;
    }

    .tg-adsvtwo .tg-adcontent {
        padding: 20px 0 0 20px;
    }

    .tg-packages {
        margin: -15px 0;
    }

    .tg-package {
        margin: 15px 0;
    }

    .tg-404content {
        padding: 0;
    }

    .tg-404message h3 {
        font-size  : 40px;
        line-height: 46px;
        padding    : 15px 0 16px 20px;
    }

    .tg-404message h3 span {
        font-size  : 60px;
        line-height: 50px;
    }

    .tg-contactarea .tg-locationmap {
        height: 515px;
    }

    .tg-pagesequence,
    .tg-detail .tg-admetadata,
    .tg-detail .tg-postmetadata {
        width      : 100%;
        color      : #666;
        font-size  : 16px;
        font-weight: 500;
        line-height: 16px;
        list-style : none;
        padding    : 6px 0 15px !important;
    }

    .tg-admetadata li {
        font-size: 11px;
    }

    .tg-adadded {
        float  : left;
        padding: 15px 0 0;
    }

    .tg-footerinfo .tg-widgettext {
        padding: 60px 0 0;
    }

    .tg-footerinfo .tg-widgetsearchbylocations {
        padding: 60px 0 60px 0;
    }

    .tg-footerinfo>div {
        border       : 0;
        border-bottom: 1px solid #4a4f5f;
    }

    .tg-footerinfo>div+div {
        border    : 0;
        border-top: 1px solid #1b1d26;
    }

    .tg-comingsoonpage {
        padding: 0;
    }
}

@media (max-width:800px) {
    .tg-comingsoonpage .tg-wrapper {
        padding: 0;
    }

    .tg-comingsoonpage .tg-main {
        background: rgba(255, 255, 255, 0.8);
    }

    .tg-homebanner,
    .tg-innerbanner {
        padding-top: 84px;
    }

    .tg-btnphone i,
    .tg-btnphone span,
    .tg-btnphone span em {
        font-size: 9px !important;
    }

    .tg-btnphone .icon-phone-handset {
        display: none !important;
    }
}

@media (max-width:767px) {
    .border-top-purple {
        border-top: 2px solid #9c09a0;
    }

    .bg-purple .tg-btnphone.bhtnn {
        background   : #9c09a0;
        color        : #fff;
        padding      : 1px 5px;
        text-align   : center;
        margin-bottom: 0;
    }

    .bg-purple {
        border-top   : 1px solid #9c09a0;
        border-bottom: 1px solid #999;
        padding      : 15px 0;
    }

    .border-top-purple .tg-ad {
        width        : 100%;
        padding      : 5px;
        margin       : 0;
        background   : #fff;
        border-radius: 5px;
    }

    .tg-sellercontactdetail {
        margin: 0;
    }

    .tg-ad figure img,
    .tg-ad figure a img {
        width     : 100%;
        height    : 172px;
        object-fit: cover;
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute !important;
        top     : 42%;
    }

    .footer-btnn.display-none-list {
        display: none;
    }

    .tg-sellercontact {
        padding: 10px;
    }

    .listing-ad-neww figure {
        width : 100%;
        height: auto;
    }

    .tg-adprice h4 {
        text-align: left;
    }

    .tg-adtitle h5 {
        font-size: 11px;
    }

    .tg-adtitle p {
        display: none;
    }

    .light-bhtn {
        width: 49% !important;
    }

    .bhtnn {
        display: inline-block;
        width  : 32%;
    }

    .bhtnn {
        vertical-align: middle;
    }

    .multiple-img .carousel-indicators li {
        width     : 64px;
        list-style: none;
        height    : 53px;
        display   : inline-block;
    }

    .tg-detail .tg-adtitle {
        padding: 0;
    }

    .tg-homebanner figure,
    .tg-innerbanner figure {
        display: none;
    }

    .numbering-new {
        font-size: 10px;
    }

    .tg-homebanner,
    .tg-innerbanner {
        padding-top: 63px;
    }

    .stickys .none-display {
        display: block;
    }

    .tg-homebanner figure figcaption,
    .tg-innerbanner figure figcaption {
        padding: 20px 0;
    }

    .menus-mega .dropdown-menu.show::before {
        right: 13px;
    }

    .menus-mega .dropdown-menu.show {
        left: -215px;
    }

    .stickys .tg-main {
        z-index    : 3;
        position   : relative;
        padding-top: 186px;
    }

    .stickys #tg-homebanner {
        display: none;
    }

    .owl-prev {
        transform    : translate(-50%, -50%);
        left         : 18px;
        top          : 40%;
        z-index      : 2;
        width        : 20px;
        height       : 20px;
        cursor       : pointer !important;
        overflow     : hidden;
        text-align   : center;
        border-radius: 50% !important;
        position     : absolute;
        background   : #9c09a0 !important;
        margin-left  : 30px;
        line-height  : 4px !important;
    }

    .owl-next {
        transform    : translate(-50%, -50%);
        right        : -6px;
        top          : 40%;
        z-index      : 2;
        width        : 20px;
        height       : 20px;
        cursor       : pointer !important;
        overflow     : hidden;
        text-align   : center;
        border-radius: 50% !important;
        position     : absolute;
        background   : #9c09a0 !important;
        margin-left  : 30px;
        line-height  : 4px !important;
    }

    .owl-nav span {
        font-size  : 14px;
        color      : #fff;
        line-height: initial;
    }

    .tg-categoriesslider,
    .tg-ads-new {
        margin : 0;
        padding: 0 30px;
    }

    .custom-light-btn {
        border   : 1px solid #888;
        padding  : 6px 7px !important;
        font-size: 13px !important;
    }

    .cc-deal li {
        list-style   : none;
        display      : inline-block;
        position     : relative;
        padding-right: 2px;
        padding-left : 3px;
        font-size    : 12px;
        color        : #888;
    }

    .tg-sortby .tg-select {
        width: 70%;
    }

    .tg-sortandview {
        padding: 10px;
    }

    .tg-sortby .tg-select {
        width        : 70%;
        margin-bottom: 20px;
    }

    .loc-ul ul {
        margin-left: 5px;
    }

    .loc-ul ul li a {
        font-size: 13px;
    }

    .mini_cart.dropdown-menu.show {
        width     : auto;
        background: #96979c;
    }

    .tg-navigationarea {
        padding: 0;
    }

    .tg-dropdowarrow {
        display: block;
    }

    .tg-navigationarea .tg-btn {
        float: none;
    }

    .navbar-toggle {
        margin       : 0;
        padding      : 16px;
        border-radius: 5px;
    }

    .tg-nav {
        width : auto;
        float : right;
        margin: 0 0 0 20px;
    }

    .tg-navigation {
        top       : 100%;
        left      : 0;
        z-index   : 51;
        background: #fff;
        position  : absolute;
    }

    .tg-navigation ul {
        text-align: left;
    }

    .tg-navigation>ul>li {
        padding: 0;
        width  : 100%;
        float  : left;
        display: block;
    }

    .tg-navigation>ul>li+li {
        border-top: 1px solid #eaeaea;
    }

    .tg-navigation ul li a,
    .tg-navigation .sub-menu li a {
        line-height: 20px;
        padding    : 10px 20px;
    }

    .tg-navigation .sub-menu .tg-mobiles>a,
    .tg-navigation .sub-menu .tg-electronics>a,
    .tg-navigation .sub-menu .tg-wehicles>a,
    .tg-navigation .sub-menu .tg-bikes>a,
    .tg-navigation .sub-menu .tg-animals>a,
    .tg-navigation .sub-menu .tg-furniture>a,
    .tg-navigation .sub-menu .tg-toys>a {
        line-height: 20px;
        padding    : 10px 20px 10px 50px;
    }

    .menu-item-has-children>a:before {
        display: none;
    }

    .sub-menu {
        opacity           : 1;
        width             : 100%;
        float             : left;
        display           : none;
        position          : static;
        visibility        : visible;
        -webkit-box-shadow: none;
        box-shadow        : none;
        border-top        : 1px solid #eaeaea;
    }

    .tg-headervtwo .tg-logo {
        width  : 170px;
        float  : none;
        display: block;
        margin : 0 auto 30px;
    }

    .tg-headervtwo .tg-userdropdown {
        float: left;
    }

    .tg-homebannervtwo {
        padding: 0 15px;
    }

    .tg-videobox {
        padding: 40px 0 0
    }

    .tg-statisticicon i {
        font-size  : 40px;
        line-height: 40px;
    }

    .tg-statistics li h3 {
        font-size  : 32px;
        line-height: 22px;
    }

    .tg-statistics li h4 {
        font-size  : 16px;
        line-height: 16px;
    }

    .tg-adsvtwo .tg-ad figure {
        width: 42%;
    }

    .tg-adsvtwo .tg-adcontent {
        width   : auto;
        overflow: hidden;
        padding : 1px 0 0px 8px !important;
    }

    .tg-team {
        width: 33.33%;
    }

    .tg-widget .tg-adbanner {
        width: 100%;
        float: left;
    }

    .tg-adbanner img {
        margin: 0 auto;
    }

    .tg-formnewsletter {
        padding: 0;
        width  : 100%;
        float  : left;
    }

    .tg-404message h2 {
        max-width : 400px;
        width     : 100%;
        float     : none;
        margin    : 0 auto;
        text-align: center;
    }

    .tg-404message h3 {
        text-align: center;
    }

    .tg-404message h3 span {
        display: block;
    }

    .tg-contactarea .tg-locationmap {
        height: 400px;
        margin: 0 0 40px;
    }

    .tg-comingsooncounter ul li {
        width: 50%;
    }

    .tg-thememodal .tg-thememodaldialog {
        width    : 100%;
        max-width: none;
        margin   : 30px 0 0;
    }

    .listing-ad-neww-slder figure {
        width : 100%;
        height: auto !important;
    }

    .listing-ad-neww-slder .tg-adcontent {
        width   : auto;
        overflow: hidden;
        padding : 1px 0 0px 8px !important;
    }

    .listing-ad-neww-slder figure .grid-widget.grid-widget--listings {
        max-width: 100%;
        margin   : 0;
    }

    .grid-widget.grid-widget--listings.row .col-lg-8 {
        padding-left: 0;
    }

    .listing-ad-neww-slder figure .grid-widget.grid-widget--listings .grid-widget__item {
        display: none;
    }

    .listing-ad-neww-slder .tg-btn,
    .listing-ad-neww .tg-btn {
        padding    : 3px 4px;
        font       : inherit;
        font-size  : 8px;
        line-height: initial;
        border     : 1px solid #9c09a0;
    }

    .tg-adsvtwo .tg-btnphone {
        padding: 0 5px;
    }

    .tg-admetadata li:last-child {
        display: none;
    }
}

@media (max-width:640px) {
    .mini_cart.dropdown-menu.show {
        position: absolute;
        width   : 335px;
    }

    .display-blkock-list {
        display        : flex !important;
        justify-content: center;
        align-items    : center;
    }

    .footer-btnn.display-blkock-list .tg-btn {
        width: 33%;
    }

    .footer-btnn.display-blkock-list .second-tg-btn {
        width: 28%;
    }

    .footer-btnn.display-blkock-list .tg-phonelike {
        width: 38%;
    }

    .tg-btnphone i {
        font-size: 16px;
        padding  : 0 2px 0 0;
    }

    .tg-btnphone i,
    .tg-btnphone span,
    .tg-btnphone span em {
        line-height: 28px !important;
    }

    .tg-like i {
        line-height: 24px;
    }

    .tg-statistics li {
        width  : 50%;
        padding: 15px;
    }

    .tg-features li {
        width: 100%;
    }

    .tg-qualityservices .tg-textshortcode {
        padding: 50px 15px 50px 15px;
    }

    .tg-team {
        width: 50%;
    }

    .tg-bannercontent h1 {
        font-size  : 30px;
        line-height: 34px;
    }

    .tg-bannercontent h2 {
        font-size  : 18px;
        line-height: 20px;
    }

    .tg-homebanner,
    .tg-innerbanner {
        padding-top: 91px;
    }
}

@media (max-width:568px) {

    .tg-homebanner,
    .tg-innerbanner {
        padding-top: 88px;
    }

    .tg-bannercontent h1 {
        font-size  : 20px;
        line-height: 24px;
    }

    .tg-bannercontent h2 {
        font-size  : 13px;
        line-height: 12px;
    }

    .tg-formbannersearch .form-group {
        width        : 100%;
        border-bottom: 1px solid #dbdbdb;
    }

    .tg-homebannervtwo {
        padding: 0;
    }

    .tg-homebannervtwo .tg-formbannersearch .form-group {
        border: 0;
        width : 100%;
    }

    .tg-homebannervtwo .tg-formbannersearch .form-group {
        padding-right: 0;
    }

    .tg-homebannervtwo .tg-formbannersearch .form-group+.form-group {
        padding: 5px 0;
    }

    .tg-homebannervtwo .tg-formbannersearch .form-group:first-child {
        border: 0;
    }

    .tg-homebannervtwo .tg-formbannersearch .tg-btn {
        margin : 0;
        padding: 0;
        width  : 100%;
    }

    .tg-formbannersearch .form-group:first-child {
        border-bottom: 1px solid #dbdbdb;
    }

    .tg-formbannersearch .form-group:nth-child(3) {
        border-top: 0;
    }

    .tg-formbannersearch .tg-btn {
        width : 100%;
        border: 0;
    }

    .tg-followus .tg-appsnav {
        width  : 100%;
        padding: 15px 0 0;
    }

    .tg-followus .tg-appsnav li:first-child {
        margin: 0;
    }

    .tg-404message {
        margin : 0 0 70px;
        padding: 0 0 45px;
    }

    .tg-404message h3 {
        font-size  : 18px;
        line-height: 35px;
        padding    : 15px 0 16px 0;
    }

    .tg-404message h3 span {
        font-size  : 40px;
        line-height: 40px;
    }

    .tg-posts>div>[class^="col-"],
    .tg-posts>[class*="col-"],
    .tg-ads>div>[class^="col-"],
    .tg-ads>div>[class*="col-"],
    .tg-ads>[class^="col-"],
    .tg-ads>[class*="col-"] {
        width: 100%;
    }

    .tg-adsvtwo .tg-adcontent {
        float  : none;
        padding: 20px 0 0;
    }

    .tg-footernav ul li {
        width: 50%;
    }

    .tg-footernav ul li:first-child {
        padding-left: 8px;
    }

    .tg-footernav ul li:before {
        display: block;
    }
}

@media (max-width:480px) {
    .tg-topbar {
        text-align: center;
    }

    .tg-navcurrency {
        width     : 100%;
        text-align: center;
        padding   : 13px 0 25px;
    }

    .tg-navcurrency li {
        float         : none;
        padding       : 0 15px;
        display       : inline-block;
        vertical-align: middle;
    }

    .tg-userdropdown {
        float         : none;
        display       : inline-block;
        vertical-align: middle;
    }

    .tg-logo {
        float  : none;
        display: block;
    }

    .tg-navigationarea .tg-btn {
        height     : auto;
        line-height: normal;
        padding    : 10px 15px;
    }

    .tg-testimonial figure {
        margin: 0 0 30px;
    }

    .tg-category {
        width: 100%;
    }

    .tg-contentbox {
        width: 100%;
        float: left;
    }

    .tg-widgettext .tg-logo {
        margin: 0;
        float : left;
    }

    .tg-pagehead h1 {
        font-size  : 20px;
        line-height: 12px;
    }

    .tg-postmetadata li {
        width  : 100%;
        padding: 10px 0;
    }

    .tg-postmetadata li:before {
        display: none;
    }

    .tg-postmetadata li:first-child {
        padding-top: 0;
    }

    .tg-author figure {
        margin: 0 0 30px;
    }

    .tg-authorcontent {
        width: 100%;
        float: left;
    }

    .tg-404message h2 {
        max-width  : 300px;
        font-size  : 100px;
        line-height: 150px;
        text-align : center;
    }

    .tg-title h2 {
        font-size  : 18px;
        line-height: 22px;
    }

    .tg-content .tg-sectionheadvtwo {
        padding: 0 0 30px;
    }

    .tg-formnewsletter fieldset button,
    .tg-formnewsletter fieldset .form-control {
        width: 100%;
    }

    .tg-formnewsletter fieldset button {
        margin       : 10px 0 0;
        border-radius: 5px;
    }

    .icon-earth {
        display: none !important;
    }

    .tg-pagesequence li {
        padding: 0 8px 0 15px;
    }

    .tg-form404search .form-control {
        padding-right: 20px;
    }

    .tg-form404search .tg-btn {
        padding      : 0;
        width        : 100%;
        position     : relative;
        text-align   : center;
        border-radius: 5px;
    }

    .tg-imgshortcode.tg-multiimg figure {
        padding: 0;
        width  : 100%;
    }

    .tg-imgshortcode.tg-multiimg figure:nth-child(2) {
        padding: 0;
    }

    .tg-statistics li {
        width: 100%;
    }

    .tg-team {
        width: 100%;
    }

    .tg-titleshortcode h2 {
        font-size  : 22px;
        line-height: 20px;
    }

    .tg-textshortcode .tg-btnbox .tg-btn {
        padding: 0;
        width  : 100%;
    }

    .tg-textshortcode .tg-btnbox .tg-btn+.tg-btn {
        margin: 30px 0 0;
    }

    .tg-textbox h5 {
        font-size  : 30px;
        line-height: 25px;
    }

    .tg-textbox h5 span {
        font-size  : 20px;
        line-height: 20px;
        padding    : 10px 0 20px;
    }

    .tg-textbox .tg-btns .tg-btn {
        padding: 0;
        width  : 100%;
        margin : 5px 0;
    }

    .tg-comingsooncounter ul li .tg-holder {
        padding: 30px 10px;
    }

    .tg-comingsooncounter ul li .tg-holder h3 {
        margin     : 0;
        font-size  : 32px;
        line-height: 28px;
    }

    .tg-comingsooncounter ul li .tg-holder h4 {
        font-size  : 15px;
        line-height: 19px;
    }
}

@media screen and (max-width: 1199px) {
    .d-none-1199 {
        display: none;
    }

    #navbarSupportedContent {
        position   : fixed;
        left       : 0;
        top        : 0;
        bottom     : 0;
        z-index    : 1001;
        width      : 100%;
        max-width  : 250px;
        overflow-y : auto;
        box-shadow : 0.1rem 0 0.6rem 0 rgba(50, 50, 50, 0.65);
        transform  : translateX(-100%);
        visibility : hidden;
        font-size  : 1.2rem;
        line-height: 1.5;
        transition : all 0.35s;
        background : #fff;
        height     : 100% !important;
        max-height : 100%;
    }

    .side-show #navbarSupportedContent.show {
        visibility: visible;
        transform : translateX(0);
    }

    .nav-item {
        border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    }

    .navbar .navbar-nav .nav-link,
    .navbar-nav .your-account a {
        padding: 15px;
    }

    .navbar-nav.Request-btn .nav-item {
        padding: 15px 0;
    }

    .navbar-nav.Request-btn .nav-item .nav-link {
        padding   : 8px 7px;
        font-size : 16px;
        text-align: center;
    }

    .top-bar .widget.widget_search {
        display        : flex;
        width          : 100%;
        text-align     : center;
        justify-content: center;
    }

    #navbarSupportedContent.show {
        visibility: visible;
        transform : translateX(0);
    }

    .navbar-toggler {
        position: absolute;
        right   : 6px;
        top     : 17px;
    }

    .post-block {
        display       : flex;
        flex-direction: row;
        margin-right  : auto;
        align-items   : center;
        margin-right  : 0;
    }

    .loc_link.show {
        position: relative;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .tg-navigationarea .container {
        max-width: 100% !important;
    }

    .mini_cart.dropdown-menu.show {
        position: absolute;
        width   : 410px;
    }
}

@media (max-width: 575px) {
    .logo-location {
        display       : flex;
        align-items   : center;
        flex-direction: column;
    }

    .navbar .navbar-nav .nav-link {
        padding: 5px;
    }
}

@media (max-width: 380px) {
    .loc_link a {
        font-size  : 14px;
        display    : flex;
        align-items: center;
    }

    .loc-icon {
        height     : 20px;
        width      : 20px;
        line-height: 20px;
    }

    .tg-navigationarea .tg-btn {
        font-size: 14px;
    }

    .collapse-menus li:first-child i {
        font-size: 14px;
    }
}