
<template>
  <div id="app" class="tg-home tg-homeone">
    <BlockUI v-if="msg" :message="msg"></BlockUI>
    <!-- :url="url" -->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
      <RwvHeader />
      <router-view></router-view>
      <RwvFooter />
    </div>
  </div>
</template>

<script>
import RwvHeader from "@/components/TheHeader";
import RwvFooter from "@/components/TheFooter";
export default {
  name: "App",
  data() {
    return {
      msg: ""
      // url: loadingImage //It is important to import the loading image then use here
    };
  },
  components: {
    RwvHeader,
    RwvFooter
  }
};
</script>
